.SunnyLayout_container__3PLag {
    max-width: 76.8rem;
    margin: 0 auto
}

.SunnyLayout_bodyContainer__1wWjV,.SunnyLayout_headerContainer__3E-yF {
    width: 100%
}

.SunnyLayout_bodyContainer__1wWjV {
    min-height: 100%;
    overflow-x: hidden
}

.SunnyLayout_smartBanner__oDN4E {
    width: 100%;
    max-width: 76.8rem;
    margin: 0 auto;
    height: 8.7rem
}

@media screen and (min-width: 48em) {
    .SunnyLayout_smartBanner__oDN4E {
        display:none
    }
}

.ToTopButton_container__80T0O {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    position: fixed;
    right: 1.4rem;
    bottom: 1.3rem;
    z-index: 20;
    background: #fff
}

.ToTopButton_button__2Y4Fv {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 .2rem .3rem 0 rgba(0,0,0,.15);
    border: .05rem solid rgba(0,0,0,.15);
    background: #fff;
    padding: .9rem 0
}

@media(hover: hover)and (pointer:fine) {
    .ToTopButton_button__2Y4Fv:hover {
        background:rgba(0,0,0,.05)
    }
}

.ToTopButton_button__2Y4Fv:active {
    background: rgba(0,0,0,.09)
}

.ToTopButton_show__3ZCcb {
    -webkit-animation: ToTopButton_show__3ZCcb .2s cubic-bezier(0,1,.7,1) forwards;
    animation: ToTopButton_show__3ZCcb .2s cubic-bezier(0,1,.7,1) forwards
}

.ToTopButton_show__3ZCcb.ToTopButton_zeroDuration__1U1zi {
    -webkit-animation-duration: 0s;
    animation-duration: 0s
}

.ToTopButton_hide__xStR1 {
    -webkit-animation: ToTopButton_hide__xStR1 .2s cubic-bezier(1,0,1,.7) forwards;
    animation: ToTopButton_hide__xStR1 .2s cubic-bezier(1,0,1,.7) forwards
}

.ToTopButton_hide__xStR1.ToTopButton_zeroDuration__1U1zi {
    -webkit-animation-duration: 0s;
    animation-duration: 0s
}

@media screen and (min-width: 48em) {
    .ToTopButton_container__80T0O {
        right:auto;
        left: calc(50% + 32.5rem)
    }
}

@-webkit-keyframes ToTopButton_show__3ZCcb {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,5.7rem,0);
        transform: translate3d(0,5.7rem,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0,-1.3rem,0);
        transform: translate3d(0,-1.3rem,0)
    }
}

@keyframes ToTopButton_show__3ZCcb {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,5.7rem,0);
        transform: translate3d(0,5.7rem,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0,-1.3rem,0);
        transform: translate3d(0,-1.3rem,0)
    }
}

@-webkit-keyframes ToTopButton_hide__xStR1 {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0,-1.3rem,0);
        transform: translate3d(0,-1.3rem,0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0,5.7rem,0);
        transform: translate3d(0,5.7rem,0)
    }
}

@keyframes ToTopButton_hide__xStR1 {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0,-1.3rem,0);
        transform: translate3d(0,-1.3rem,0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0,5.7rem,0);
        transform: translate3d(0,5.7rem,0)
    }
}

.TextButton_arrow__1AB9J {
    width: .857em;
    height: .857em;
    fill: currentColor;
    fill-rule: evenodd;
    margin-left: .2rem;
    vertical-align: top
}

.TextButton_basic__120EN,.TextButton_primary__3C6IB,.TextButton_secondary__A_sir,.TextButton_transparent__3NZtY {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: .8rem 0;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.TextButton_primary__3C6IB,.TextButton_secondary__A_sir {
    color: #0152cc
}

.TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):focus,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):focus {
    background: rgba(1,82,204,.05)
}

@media(hover: hover) {
    .TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):hover,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):hover {
        background:rgba(1,82,204,.05)
    }
}

.TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):active,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):active {
    background: rgba(1,82,204,.1)
}

.TextButton_secondary__A_sir .TextButton_arrow__1AB9J {
    display: none
}

.TextButton_basic__120EN {
    color: #1a1a1a
}

.TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):focus {
    background: rgba(0,0,0,.05)
}

@media(hover: hover) {
    .TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):hover {
        background:rgba(0,0,0,.05)
    }
}

.TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):active {
    background: rgba(0,0,0,.1)
}

.TextButton_transparent__3NZtY {
    color: #fff
}

.TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):focus {
    background: hsla(0,0%,100%,.1)
}

@media(hover: hover) {
    .TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):hover {
        background:hsla(0,0%,100%,.1)
    }
}

.TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):active {
    background: hsla(0,0%,100%,.2)
}

.TextButton_disabled__1eO2D {
    background: none;
    color: #ccc;
    cursor: default
}

.TextButton_disabled__1eO2D.TextButton_transparent__3NZtY {
    color: #919191
}

.TextButton_storybook__2j5rP {
    font-size: 1.4rem;
    font-weight: 400
}

.SubHeader_container__mMQq5 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.SubHeader_titleWrap__3g5at,.SubHeader_titleWrapWithSubtitle__1jeiu {
    overflow: hidden
}

.SubHeader_titleWrap__3g5at {
    padding: 1.4rem 0
}

.SubHeader_titleWrapWithSubtitle__1jeiu {
    padding: 1.2rem 0
}

.SubHeader_title__1PFTQ {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.9rem
}

.SubHeader_subtitle__2WB7I,.SubHeader_title__1PFTQ {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1a1a1a
}

.SubHeader_subtitle__2WB7I {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: .2rem
}

.SubHeader_aside__1utqv {
    -webkit-flex: none;
    flex: none;
    margin-left: auto;
    padding-left: 1.2rem
}

.SubHeader_infoText__1u863 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #de2e5f
}

.SubHeader_iconButton__AdKq_ {
    width: 4rem;
    height: 4rem;
    background: none;
    border: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: -1.2rem
}

.SubHeader_icon__3LY5X {
    font-size: 1.6rem
}

.SubHeader_textButton__1mZFi {
    font-size: 1.4rem;
    font-weight: 700;
    display: block
}

.SubHeader_actionText__3ZsgR {
    color: inherit;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/icon-arrow-small-black.svg) 98% no-repeat;
    background-size: .5rem;
    padding-right: 1.3rem
}

.SwiperNavs_prevButton__EPoGp {
    position: absolute;
    top: 7rem;
    z-index: 20;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
    width: 3.2rem;
    height: 3.2rem;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    background-color: hsla(0,0%,100%,.9);
    color: inherit;
    text-decoration: none;
    left: 0
}

.SwiperNavs_prevButton__EPoGp svg {
    width: 1.2rem;
    height: 1.2rem;
    margin: .9rem 0 0 .9rem
}

.swiper-container:hover .SwiperNavs_prevButton__EPoGp.SwiperNavs_displayedNav__1Ssk7 {
    display: block
}

.SwiperNavs_prevButton__EPoGp.SwiperNavs_banner__COn32 {
    top: 50%
}

.SwiperNavs_prevButton__EPoGp:hover {
    border-color: #1a1a1a
}

.SwiperNavs_prevButton__EPoGp.swiper-button-disabled svg {
    opacity: .4
}

.SwiperNavs_prevButton__EPoGp.swiper-button-disabled:hover {
    border: .1rem solid #ccc
}

.SwiperNavs_nextButton__2Nfg9 {
    position: absolute;
    top: 7rem;
    z-index: 20;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
    width: 3.2rem;
    height: 3.2rem;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    background-color: hsla(0,0%,100%,.9);
    color: inherit;
    text-decoration: none;
    right: 0
}

.SwiperNavs_nextButton__2Nfg9 svg {
    width: 1.2rem;
    height: 1.2rem;
    margin: .9rem 0 0 .9rem
}

.swiper-container:hover .SwiperNavs_nextButton__2Nfg9.SwiperNavs_displayedNav__1Ssk7 {
    display: block
}

.SwiperNavs_nextButton__2Nfg9.SwiperNavs_banner__COn32 {
    top: 50%
}

.SwiperNavs_nextButton__2Nfg9:hover {
    border-color: #1a1a1a
}

.SwiperNavs_nextButton__2Nfg9.swiper-button-disabled svg {
    opacity: .4
}

.SwiperNavs_nextButton__2Nfg9.swiper-button-disabled:hover {
    border: .1rem solid #ccc
}

.SwiperNavs_renewalPrevButton__GbBOG {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 4.4rem;
    z-index: 20;
    display: none;
    border-radius: .4rem;
    background-color: #fff;
    color: inherit;
    text-decoration: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: .1rem solid #ccc;
    border-left: none;
    padding: 1rem 1rem 1rem .6rem;
    left: 0
}

.SwiperNavs_renewalPrevButton__GbBOG svg {
    width: 2.4rem;
    height: 2.4rem
}

.swiper-container:hover .SwiperNavs_renewalPrevButton__GbBOG.SwiperNavs_displayedNav__1Ssk7 {
    display: block
}

.SwiperNavs_renewalPrevButton__GbBOG:hover {
    background: #f3f3f3
}

.SwiperNavs_renewalPrevButton__GbBOG:active {
    background: #e6e6e6
}

.SwiperNavs_renewalPrevButton__GbBOG.swiper-button-disabled {
    pointer-events: auto;
    opacity: 1;
    background: #e6e6e6
}

.SwiperNavs_renewalPrevButton__GbBOG.swiper-button-disabled svg {
    opacity: .1
}

.SwiperNavs_renewalNextButton__6BYjy {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 4.4rem;
    z-index: 20;
    display: none;
    border-radius: .4rem;
    background-color: #fff;
    color: inherit;
    text-decoration: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: .1rem solid #ccc;
    border-right: none;
    padding: 1rem .6rem 1rem 1rem;
    right: 0
}

.SwiperNavs_renewalNextButton__6BYjy svg {
    width: 2.4rem;
    height: 2.4rem
}

.swiper-container:hover .SwiperNavs_renewalNextButton__6BYjy.SwiperNavs_displayedNav__1Ssk7 {
    display: block
}

.SwiperNavs_renewalNextButton__6BYjy:hover {
    background: #f3f3f3
}

.SwiperNavs_renewalNextButton__6BYjy:active {
    background: #e6e6e6
}

.SwiperNavs_renewalNextButton__6BYjy.swiper-button-disabled {
    pointer-events: auto;
    opacity: 1;
    background: #e6e6e6
}

.SwiperNavs_renewalNextButton__6BYjy.swiper-button-disabled svg {
    opacity: .1
}

.Swiper_container__3hyq9 {
    position: relative
}

.Swiper_placeholder__27VGp {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 100%
}

.Swiper_placeholder__27VGp>* {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    visibility: hidden
}

.Swiper_placeholder__27VGp>:first-child {
    visibility: visible
}

@supports(--v: 0) {
    .Swiper_placeholder__27VGp>* {
        margin-right:var(--margin);
        visibility: visible
    }
}

.Swiper_containerMounted__3UoDr .Swiper_placeholder__27VGp {
    opacity: 0;
    visibility: hidden
}

.Swiper_placeholderCentered__3LxHd>* {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.Swiper_placeholderCentered__3LxHd>:first-child {
    margin-left: 50%
}

.Swiper_swiper__3NQ_7 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.Swiper_containerMounted__3UoDr .Swiper_swiper__3NQ_7 {
    opacity: 1
}

.Swiper_swiper__3NQ_7.Swiper_tab__1opHO .swiper-container:after,.Swiper_swiper__3NQ_7.Swiper_tab__1opHO .swiper-container:before {
    display: none
}

@media screen and (min-width: 48em) {
    .Swiper_swiper__3NQ_7>.swiper-container:before {
        content:"";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2rem;
        background: #fff;
        z-index: 10;
        left: 0
    }

    .Swiper_swiper__3NQ_7>.swiper-container:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2rem;
        background: #fff;
        z-index: 10;
        right: 0
    }
}

.ChipList_container__2TfYN {
    padding: 0 2rem 1.6rem
}

.ChipList_container__2TfYN .swiper-container:after,.ChipList_container__2TfYN .swiper-container:before {
    display: none
}

.ChipList_chip__ef32w {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 3.2rem;
    padding: 0 1.2rem;
    line-height: 3.2rem;
    border-radius: 1.6rem;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    color: #616161;
    width: auto;
    overflow: visible;
    box-sizing: border-box
}

@media(hover: hover)and (pointer:fine) {
    .ChipList_chip__ef32w {
        cursor:pointer
    }
}

.ChipList_chip__ef32w.ChipList_active__2zufX {
    background-color: rgba(1,82,204,.1);
    font-size: 1.2rem;
    font-weight: 700;
    color: #0152cc;
    border: 1px solid #fff
}

.ImageFallback_wrap__3VXUV {
    background: #f2f2f2 url(//yaimg.yanolja.com/joy/sunny/static/images/default_gray100.png) 50% no-repeat;
    background-size: 50%;
    position: relative
}

.ImageFallback_body__UgBLm {
    background: 50% no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.MagazineArticleItem_anchor__180iv {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 20.8rem!important;
    height: 20.8rem;
    border-radius: .4rem;
    overflow: hidden
}

.MagazineArticleItem_image__2fHYy {
    padding-top: 100%
}

.MagazineArticleItem_play__OSsVq {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.MagazineArticleItem_wrap__1CSTZ {
    height: 10.4rem;
    position: absolute;
    background: linear-gradient(180deg,transparent 33%,rgba(0,0,0,.5));
    right: 0;
    bottom: 0;
    left: 0
}

.MagazineArticleItem_bg__2IMgy {
    padding: 1.6rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0
}

.MagazineArticleItem_badge__3tlHz {
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    color: #1a1a1a;
    background-color: #fff;
    padding: .3rem .8rem .2rem;
    border-radius: 1.2rem;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);
    line-height: 1.5rem
}

.MagazineArticleItem_title__2bPTB {
    font-size: 1.4rem;
    font-weight: 700;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3.2rem;
    color: #fff
}

.MagazineArticleItem_badge__3tlHz+.MagazineArticleItem_title__2bPTB {
    margin-top: 1rem
}

.MagazineArticles_container__d9KQ8 {
    overflow: hidden;
    margin-right: -2rem;
    margin-left: -2rem
}

@media screen and (max-width: 15.625em) {
    .MagazineArticles_container__d9KQ8 {
        margin-right:-1.5rem;
        margin-left: -1.5rem
    }
}

.MagazineArticles_container__d9KQ8 .swiper-button-next,.MagazineArticles_container__d9KQ8 .swiper-button-prev {
    background-image: none;
    top: 10.4rem
}

.MagazineArticles_swiper__3L8GB {
    width: 100%;
    position: relative
}

.MagazineArticles_swiper__3L8GB .swiper-container {
    overflow: visible
}

.Magazine_container__1h3gJ {
    background: #fff
}

.Magazine_chipList__36Hm4 {
    margin-right: -2rem;
    margin-left: -2rem
}

@media screen and (max-width: 15.625em) {
    .Magazine_chipList__36Hm4 {
        margin-right:-1.5rem;
        margin-left: -1.5rem
    }
}

.OptimizedReviewInfo_TEXT__DOMESTIC_REVIEW_COUNT__22bqH {
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: .2rem
}

.OptimizedReviewInfo_TEXT__DOMESTIC_REVIEW_COUNT__22bqH b:first-child {
    margin-right: .1rem
}

.OptimizedReviewInfo_TEXT__DOMESTIC_REVIEW_SCORE__u25BV {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: .2rem
}

.OptimizedReviewInfo_TEXT__DOMESTIC_REVIEW_SCORE__u25BV .OptimizedReviewInfo_star__1S4T3 {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .2rem;
    margin-bottom: -.1rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/icon-score-yayellow-fill.svg) no-repeat
}

.OptimizedReviewInfo_TEXT__DOMESTIC_REVIEW_DESCRIPTION__HIGHLIGHT__2Qrrc {
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding: 0 .2rem;
    vertical-align: middle;
    color: #616161
}

.OptimizedReviewInfo_TEXT__DOMESTIC_REVIEW_DESCRIPTION__HIGHLIGHT__2Qrrc:before {
    position: absolute;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(253,189,0,.3);
    content: ""
}

.OptimizedReviewInfo_TEXT__DOMESTIC_REVIEW_DESCRIPTION__HIGHLIGHT__2Qrrc .OptimizedReviewInfo_text__wyHWA {
    position: relative;
    z-index: 1
}

.OptimizedReviewInfo_TEXT__DOMESTIC_REVIEW_DESCRIPTION__BOLD__2sLlR {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: .2rem
}

.OptimizedHorizontalItem_container__j-rRj {
    color: inherit;
    text-decoration: none;
    display: block;
    background: #fff;
    position: relative
}

.OptimizedHorizontalItem_content__3R9VN {
    display: -webkit-flex;
    display: flex
}

.OptimizedHorizontalItem_body__1nbV5 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1 1;
    flex: 1 1;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: .2rem 0 0 1.2rem;
    overflow: hidden;
    position: relative
}

.OptimizedHorizontalItem_bodyTop__3r8h5 {
    min-height: 6.2rem
}

.OptimizedHorizontalItem_benefitBadges__1tw3X,.OptimizedHorizontalItem_location__hLQRg {
    margin-top: .4rem
}

.OptimizedHorizontalItem_availableQuantity__23ig- {
    padding: .8rem 0
}

.OptimizedHorizontalItem_priceInfo__9A-l3 {
    text-align: right
}

.OptimizedHorizontalItem_price__191Yh {
    margin-top: .4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.OptimizedHorizontalItem_review__1VO14 {
    margin-top: .4rem
}

.OptimizedHorizontalItem_caption__1u-C7 {
    margin-top: .4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.OptimizedHorizontalItem_feature__22PlI {
    margin-top: .4rem
}

.OptimizedHorizontalItem_notices__3UdwE {
    background: #f8f8f8;
    border-radius: .4rem;
    padding: 1.2rem;
    margin-top: 1.2rem
}

.OptimizedHorizontalItem_noticeInfo__3Q5JM {
    display: block
}

.OptimizedHorizontalItem_noticeInfo__3Q5JM>:not(:last-of-type) {
    margin-bottom: .9rem
}

.OptimizedHorizontalSwiper_swiper__SXjn5 {
    margin-right: -2rem;
    margin-left: -2rem
}

@media screen and (max-width: 15.625em) {
    .OptimizedHorizontalSwiper_swiper__SXjn5 {
        margin-right:-1.5rem;
        margin-left: -1.5rem
    }
}

.OptimizedHorizontalSwiper_swiper__SXjn5>div,.OptimizedHorizontalSwiper_swiper__SXjn5>div>.swiper-container {
    overflow: visible
}

.OptimizedHorizontalSwiper_swiper__SXjn5 .swiper-button-next,.OptimizedHorizontalSwiper_swiper__SXjn5 .swiper-button-prev {
    background-image: none
}

.OptimizedHorizontalSwiper_listWrapper__34d-1 {
    width: 100%;
    display: -ms-grid;
    display: grid
}

@media screen and (max-width: 47.9375em) {
    .OptimizedHorizontalSwiper_listWrapper__34d-1 {
        box-sizing:border-box;
        padding: 0 2rem
    }
}

@media screen and (min-width: 48em) {
    .OptimizedHorizontalSwiper_listWrapper__34d-1 {
        grid-auto-flow:column;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: .1rem
    }
}

.OptimizedHorizontalSwiper_itemWrapper__1VAFc {
    width: 100%
}

@media screen and (min-width: 48em) {
    .OptimizedHorizontalSwiper_itemWrapper__1VAFc {
        border-right:.1rem solid #f2f2f2;
        box-sizing: content-box
    }
}

.OptimizedHorizontalSwiper_item__OSic4 {
    box-sizing: border-box;
    padding: 0 0 1.2rem
}

@media screen and (min-width: 48em) {
    .OptimizedHorizontalSwiper_item__OSic4 {
        padding:0 2rem 1.2rem
    }
}

@media(hover: hover)and (pointer:fine) {
    .OptimizedHorizontalSwiper_item__OSic4 {
        cursor:pointer
    }
}

.OptimizedHorizontalSwipeWidget_container__2hpeY {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    color: #2e2e2e
}

@media screen and (min-width: 48em) {
    .OptimizedHorizontalSwipeWidget_container__2hpeY {
        font-size:1.3rem;
        max-width: 76.8rem
    }
}

.OptimizedHorizontalSwipeWidget_chipList__y8B62 {
    margin-right: -2rem;
    margin-left: -2rem
}

@media screen and (max-width: 15.625em) {
    .OptimizedHorizontalSwipeWidget_chipList__y8B62 {
        margin-right:-1.5rem;
        margin-left: -1.5rem
    }
}

.RecommendRanking_listWrapper__3KRiu {
    grid-auto-flow: row
}

.OrderingWidgetContainer_container__39Hyk>* {
    overflow: hidden;
    padding: 2rem
}

@media screen and (max-width: 15.625em) {
    .OrderingWidgetContainer_container__39Hyk>* {
        padding-right:1.5rem;
        padding-left: 1.5rem
    }
}

.OrderingWidgetContainer_noPadding__2lQQ4 {
    padding: unset
}

.OrderingWidgetContainer_smallPadding__gxzdI {
    padding: .4rem 0 2rem
}

@-webkit-keyframes DotLoader_fade__2UWKx {
    0%,80%,to {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

@keyframes DotLoader_fade__2UWKx {
    0%,80%,to {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

.DotLoader_container__359O8 {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.DotLoader_dot__3eAtq {
    width: .9rem;
    height: .9rem;
    -webkit-animation: DotLoader_fade__2UWKx 1.4s ease-in-out infinite both;
    animation: DotLoader_fade__2UWKx 1.4s ease-in-out infinite both;
    background: #0152cc;
    border-radius: 50%
}

.DotLoader_dot__3eAtq:nth-child(2) {
    -webkit-animation-delay: .16s;
    animation-delay: .16s
}

.DotLoader_dot__3eAtq:nth-child(3) {
    -webkit-animation-delay: .32s;
    animation-delay: .32s
}

.DotLoader_dot__3eAtq+.DotLoader_dot__3eAtq {
    margin-left: 1rem
}

.SubhomeOrderingWidgetContainer_orderingContainer__1xAZ2 {
    background: #f2f2f2
}

.SubhomeOrderingWidgetContainer_failoverContainer__2up1- {
    background-color: #fff;
    height: calc(100vh - 6.8rem);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.DeepLinkBanner_container__3oHeE {
    width: 100%;
    position: relative;
    height: 8.7rem;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6
}

.DeepLinkBanner_image__2nMUl {
    position: absolute;
    top: 1.7rem;
    left: 1.5rem;
    display: inline-block;
    width: 21.1rem;
    height: 5.4rem
}

@media screen and (max-width: 22.5em) {
    .DeepLinkBanner_image__2nMUl {
        width:17rem
    }
}

.DeepLinkBanner_action__2Y1Lt {
    position: absolute;
    top: 3rem;
    right: 2.5rem;
    padding: .5rem .7rem;
    text-align: center;
    border: 1px solid #de2e5f;
    border-radius: .4rem;
    background: none
}

.DeepLinkBanner_action__2Y1Lt>span {
    vertical-align: middle;
    color: #de2e5f;
    font-size: 1.5rem;
    font-weight: 500
}

.DeepLinkBanner_action__2Y1Lt>i {
    margin-left: .5rem;
    display: inline-block;
    vertical-align: middle;
    width: .6rem;
    height: 1rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/promotion/bnr-smart-banner-arrow.svg) no-repeat
}

.SmartBanner_container__3Zp0y {
    width: 100%;
    position: relative;
    height: 8.7rem;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    z-index: 30
}

@media screen and (min-width: 48em) {
    .SmartBanner_container__3Zp0y {
        display:none
    }
}

.SmartBanner_close__1j2sZ {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 0;
    right: 0;
    border: none;
    background: none;
    padding: 1rem;
    z-index: 10
}

.SmartBanner_close__1j2sZ>i {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/promotion/bnr-smart-banner-close.svg) no-repeat
}

.SunnyNav_container__18unQ {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: -webkit-transform .25s cubic-bezier(.75,.25,.25,.75);
    transition: transform .25s cubic-bezier(.75,.25,.25,.75);
    transition: transform .25s cubic-bezier(.75,.25,.25,.75),-webkit-transform .25s cubic-bezier(.75,.25,.25,.75);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 30
}

.SunnyNav_withPrimaryBanner__3GAAo {
    top: 4rem
}

@media screen and (max-width: 48em) {
    .SunnyNav_collapsed__sz1zD {
        -webkit-transform:translateY(-8.7rem);
        transform: translateY(-8.7rem)
    }
}

.NavigationBar_container__1EfAG {
    width: 100%;
    height: 4.8rem;
    background: #fff
}

.NavigationBar_wrap__1Jht4 {
    max-width: 76.8rem;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding: .4rem 1.2rem
}

.NavigationBar_leftWrap__1davh,.NavigationBar_rightWrap__2Fhtd {
    display: -webkit-flex;
    display: flex;
    margin: auto 0
}

.NavigationBar_leftWrap__1davh {
    -webkit-flex: 0 0 4rem;
    flex: 0 0 4rem
}

.NavigationBar_rightWrap__2Fhtd {
    -webkit-flex: 0 0 4.4rem;
    flex: 0 0 4.4rem;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.NavigationBar_leftWrapAndroid__2u_zh,.NavigationBar_rightWrapAndroid__3vf-z {
    display: -webkit-flex;
    display: flex
}

.NavigationBar_rightWrapAndroid__3vf-z {
    margin-left: auto
}

.NavigationBar_doubleWrap__1_n-x {
    -webkit-flex: 0 0 9.8rem;
    flex: 0 0 9.8rem
}

.NavigationBar_center__18CsD {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden
}

@media screen and (max-width: 20em) {
    .NavigationBar_center__18CsD {
        letter-spacing:-.08rem
    }
}

.NavigationBar_leftWrapAndroid__2u_zh+.NavigationBar_center__18CsD {
    padding-left: 0
}

.NavigationBar_center__18CsD+.NavigationBar_rightWrapAndroid__3vf-z {
    padding-left: 1.2rem
}

.NavigationBar_body__1c5zE {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: #fff
}

.NavigationBar_bottom__1hLEx,.NavigationBar_collapsedBottom__2YRU6,.NavigationBar_shadow__1IyZc {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff;
    z-index: -1
}

.NavigationBar_bottom__1hLEx:before,.NavigationBar_collapsedBottom__2YRU6:before,.NavigationBar_shadow__1IyZc:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: -.1rem;
    z-index: -1;
    border-bottom: .1rem solid #e6e6e6
}

.NavigationBar_shadow__1IyZc:before {
    box-shadow: 0 0 .4rem 0 rgba(0,0,0,.3);
    border-bottom: none;
    bottom: 0
}

.NavigationBar_collapsedBottom__2YRU6 {
    bottom: -.1rem
}

.NavigationBarIconButton_button__2UbJV {
    height: 4rem;
    border: none;
    background: none;
    color: inherit;
    display: block;
    font-size: 2.4rem;
    padding: .8rem;
    position: relative
}

.NavigationBarIconButton_button__2UbJV+.NavigationBarIconButton_button__2UbJV {
    margin-left: .4rem
}

.NavigationBarIconButton_count__2WvDa {
    position: absolute;
    top: .3rem;
    right: .3rem;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
    background-color: #de2e5f;
    border-radius: 45%;
    text-align: center;
    color: #fff
}

.NavigationBarHeading_container__8vDzj {
    width: 100%;
    text-align: center
}

.NavigationBarHeading_containerAndroid__3xNFl {
    overflow: hidden
}

.NavigationBarHeading_left__1NJRd {
    text-align: left
}

.NavigationBarHeading_title__hHbul {
    font-size: 1.8rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.NavigationBarHeading_titleWithSub__3z2Pr {
    font-size: 1.4rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.NavigationBarHeading_subs__iJcKJ {
    font-size: 1.2rem;
    font-weight: 400;
    color: #616161;
    display: inline-block;
    margin-top: .2rem;
    width: 100%
}

.NavigationBarHeading_sub__3Ngwo {
    position: relative
}

.NavigationBarHeading_sub__3Ngwo+.NavigationBarHeading_sub__3Ngwo {
    margin-left: .4rem;
    padding-left: .5rem
}

.NavigationBarHeading_sub__3Ngwo+.NavigationBarHeading_sub__3Ngwo:before {
    content: "";
    width: .1rem;
    height: 66.67%;
    background: #e6e6e6;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0
}

.sub-home_layout__zBJ2V {
    max-width: none!important
}

.sub-home_body__3kGpk {
    margin: 0 auto;
    padding-top: 4.8rem;
    padding-bottom: 6.8rem;
    background: #fff;
    max-width: 76.8rem;
    min-height: 100vh
}

.sub-home_loader__3p2MJ {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    height: 26rem;
    padding-top: 4rem;
    min-height: calc(100vh - 4.8rem)
}

/*# sourceMappingURL=272e36ce68f6c5d3016e.css.map*/
