@charset "UTF-8";
.css-1hno2ww {
    font-size: 1.6rem;
    font-weight: bold;
    border: 1px solid rgb(222, 46, 95);
    border-radius: 0.4rem;
    background: rgb(222, 46, 95);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 1rem;
}
.css-yp9swi {
    flex: 1 1 0%;
}
.css-1r2eegk {
    display: none;
    position: absolute;
    z-index: 30;
    margin-top: 1.2rem;
    left: 0px;
    background-color: rgb(26, 26, 26);
    padding: 1.6rem 1.2rem 1.3rem;
    list-style: inside;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px 0px;
    border-radius: 0.4rem;
    bottom: calc(100% + 1.2rem);
    white-space: nowrap;
    max-width: 40rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: normal;
}
.css-7wyoej {
    font-size: 1.6rem;
    font-weight: bold;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(222, 46, 95);
    border-radius: 0.4rem;
    color: rgb(222, 46, 95);
    flex: 1 1 0%;
    padding: 1rem;
    width: 100%;
}
.css-1a4gylk {
    flex: 1 1 0%;
    padding-right: 0.8rem;
}
.css-1t5q28x {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1.2rem;
}
.css-xtgcg1 >span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #1a1a1a;
    line-height: 1.9rem;
}
.css-xtgcg1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #1a1a1a;
    line-height: 2.1rem;
}
.css-1srrlkw {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.3rem 0.4rem 0.2rem;
    background-color: rgb(242, 242, 242);
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 1.3rem;
    margin-right: 0.4rem;
    border-radius: 0.2rem;
}
.css-1y1n4el {
    color: rgb(26, 26, 26);
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 0.25rem 0.4rem;
}
.css-12qj6ed > span {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.1rem;
}
.css-12qj6ed {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.1rem;
    color: rgb(145, 145, 145);
}

b,
strong {
	font-weight: bolder;
}

.css-5f5z7h {
	font-size: 1.4rem;
	font-weight: normal;
}

.css-eybg5z {
	color: rgb(26, 26, 26);
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 0.2rem;
}

.css-1tuqr8g {
	width: 100%;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px 0px;
	padding: 1.2rem 2rem;
}

.css-1uxybp6>div>div:last-of-type {
	transition: box-shadow 0.15s ease 0s;
	box-shadow: none;
}

.css-10v9hj>li::before {
	content: "·";
	margin-left: -1rem;
	margin-right: 0.6rem;
}

.css-10v9hj>li {
	margin-bottom: 0.4rem;
}

.css-10v9hj {
	padding: 0px 2rem 0px 3rem;
	font-size: 1.2rem;
	font-weight: normal;
	color: rgb(97, 97, 97);
	line-height: 1.5;
	margin-bottom: 1.6rem;
}

.css-1h0uicy {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	height: 4.9rem;
	border: 0.1rem solid rgb(230, 230, 230);
	border-radius: 0.8rem;
	color: rgb(220, 3, 40);
	cursor: pointer;
	margin: 0px 2rem 1.2rem;
	width: calc(100% - 4rem);
	padding: 0px 1.6rem;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.7rem;
}

.css-1ago99h {
	width: 100%;
}

.css-1k737b3>div {
	width: 100%;
}

.css-1rcwdd4 {
	width: 1.33rem;
	height: 1.33rem;
	margin-right: 0.33rem;
}

li {
	list-style: none;
}

.css-1bxtrwk {
	color: rgb(230, 112, 0);
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	-webkit-box-pack: start;
	justify-content: flex-start;
	align-items: flex-start;
}

.css-ifqd90>li {
	margin-bottom: 0.4rem;
}

.css-ifqd90>li:last-of-type {
	margin-bottom: 0px;
}

.css-ifqd90 {
	margin: 0px 2rem 1.2rem;
	border-radius: 0.8rem;
	background: rgb(254, 248, 242);
	width: 100%;
	text-align: left;
	padding: 0.8rem 1.6rem;
}

.css-1bm7asi {
	flex: 1 1 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-flow: column;
}

.css-r5q8o0 {
	font-size: 1.1rem;
	font-weight: normal;
	line-height: 1.3rem;
	flex: 0 0 auto;
	width: 6.4rem;
	height: 2.4rem;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	background: rgb(230, 230, 230);
	border-radius: 1.2rem;
}

.css-1bm7asi>.time {
	font-size: 1.4rem;
	font-weight: normal;
	color: rgb(204, 204, 204);
	line-height: 1.7rem;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.css-1bm7asi>.time.selected {
	color: rgb(26, 26, 26);
	font-weight: 400;
}

.css-1bm7asi>.date {
	font-size: 1.4rem;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 1.7rem;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.css-1bm7asi>.title {
	font-size: 1.1rem;
	font-weight: normal;
	color: rgb(145, 145, 145);
	margin-bottom: 0.4rem;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.css-1bm7asi {
	flex: 1 1 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-flow: column;
}

.css-5j2b2p {
	width: 100%;
	padding: 1.6rem 0.8rem 1.5rem;
	background: rgb(248, 248, 248);
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	border-radius: 0.8rem;
	margin: 0px 2rem 1.2rem;
}

.css-1k737b3>div {
	width: 100%;
}

.css-1k737b3 {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	height: auto;
	width: 100%;
	padding-bottom: 1.6rem;
}

.css-gqqlqe {
	height: auto;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
}

.css-gtuddj {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	width: 2.4rem;
	height: 2.4rem;
	margin: 2.4rem 0px 0px 1.6rem;
}

.css-1v54dvp {
	position: relative;
	width: 100%;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	margin: 2.4rem 0px 0px;
	padding: 0px 5.6rem;
	color: rgb(26, 26, 26);
	text-overflow: ellipsis;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.css-ex1z05 {
	width: 100%;
	min-height: 6.3rem;
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
}

.css-1uxybp6>div>div:first-of-type {
	transition: box-shadow 0.15s ease 0s;
	box-shadow: none;
}

.css-fn260m {
	background: rgb(255, 255, 255);
	max-height: 70vh;
	width: 100%;
	max-width: 64rem;
	border-radius: 1.2rem 1.2rem 0px 0px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	margin-bottom: -0.1rem;
}

.open .css-fn260m {
	animation: 0.2s ease 0s 1 normal none running animation-ahf0og;
}

.css-1uxybp6 {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	z-index: 100;
	transform: translateZ(0px);
	will-change: transform;
}

.css-1uxybp6.open {
	animation: 0.2s ease 0s 1 normal none running animation-8hxyql;
}