.TextButton_arrow__1AB9J {
    width: .857em;
    height: .857em;
    fill: currentColor;
    fill-rule: evenodd;
    margin-left: .2rem;
    vertical-align: top
}

.TextButton_basic__120EN,.TextButton_primary__3C6IB,.TextButton_secondary__A_sir,.TextButton_transparent__3NZtY {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: .8rem 0;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.TextButton_primary__3C6IB,.TextButton_secondary__A_sir {
    color: #0152cc
}

.TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):focus,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):focus {
    background: rgba(1,82,204,.05)
}

@media(hover: hover) {
    .TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):hover,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):hover {
        background:rgba(1,82,204,.05)
    }
}

.TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):active,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):active {
    background: rgba(1,82,204,.1)
}

.TextButton_secondary__A_sir .TextButton_arrow__1AB9J {
    display: none
}

.TextButton_basic__120EN {
    color: #1a1a1a
}

.TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):focus {
    background: rgba(0,0,0,.05)
}

@media(hover: hover) {
    .TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):hover {
        background:rgba(0,0,0,.05)
    }
}

.TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):active {
    background: rgba(0,0,0,.1)
}

.TextButton_transparent__3NZtY {
    color: #fff
}

.TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):focus {
    background: hsla(0,0%,100%,.1)
}

@media(hover: hover) {
    .TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):hover {
        background:hsla(0,0%,100%,.1)
    }
}

.TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):active {
    background: hsla(0,0%,100%,.2)
}

.TextButton_disabled__1eO2D {
    background: none;
    color: #ccc;
    cursor: default
}

.TextButton_disabled__1eO2D.TextButton_transparent__3NZtY {
    color: #919191
}

.TextButton_storybook__2j5rP {
    font-size: 1.4rem;
    font-weight: 400
}

.EmptyStateBenefitBanner_container__377hE {
    width: 100%;
    max-width: 76.8rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 6rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center
}

.EmptyStateBenefitBanner_label__3QEmk {
    font-size: 1.6rem;
    font-weight: 400
}

.EmptyStateBenefitBanner_button__1CM9S {
    font-size: 1.2rem;
    font-weight: 400
}

.BenefitBanner_container__39Fig,.BenefitBanner_failContainer__2BtOw {
    display: -webkit-flex;
    display: flex;
    background: #fff;
    -webkit-justify-content: center;
    justify-content: center
}

.BenefitBanner_banner__1aiwU {
    display: block;
    width: calc(100% - 4rem);
    height: 5.3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: .8rem
}

.BenefitBanner_failContainer__2BtOw {
    border-top: .1rem solid #e6e6e6;
    border-bottom: .1rem solid #e6e6e6
}

.BenefitBanner_container__2R0Oz {
    max-width: 76.8rem;
    margin: 0 auto;
    padding-bottom: 2rem
}

.Body_container__YAXN3 {
    width: 100%;
    max-width: 76.8rem;
    min-height: calc(100% - 4.8rem);
    height: calc(100vh - 4.8rem);
    background: #fff;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem
}

.kakao_container__1tIx0 {
    width: 100vw;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.CallToActionButton_container__3tZWO {
    width: 100%;
    background: #fff
}

.CallToActionButton_bottom__olMm1 {
    padding: 1.2rem 2rem;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40
}

.CallToActionButton_bottomBorder__OhZ4q {
    border-top: .1rem solid #e6e6e6
}

.CallToActionButton_bottomShadow__109nd {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.16)
}

.CallToActionButton_wrap__1k38c {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 72.8rem;
    width: 100%;
    margin: 0 auto
}

.CallToActionButton_infoWrap__31o9m {
    width: 13.4rem
}

@media screen and (min-width: 48em) {
    .CallToActionButton_infoWrap__31o9m {
        width:16.8rem
    }
}

@media screen and (max-width: 20em) {
    .CallToActionButton_infoWrap__31o9m {
        width:11.4rem
    }
}

.CallToActionButton_option__3hChx {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem
}

.CallToActionButton_price__2_YOA {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem
}

@media screen and (max-width: 20em) {
    .CallToActionButton_price__2_YOA {
        font-size:1.6rem;
        font-weight: 700
    }
}

.CallToActionButton_option__3hChx+.CallToActionButton_price__2_YOA {
    margin-top: .2rem
}

.CallToActionButton_cta__2yaMl {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9rem;
    width: 100%;
    height: 4.4rem;
    margin-left: auto;
    padding: 1.2rem 1.6rem 1.1rem;
    box-sizing: border-box
}

.CallToActionButton_ctaWithData__3by4k {
    width: calc(100vw - 18.6rem)
}

@media screen and (min-width: 48em) {
    .CallToActionButton_ctaWithData__3by4k {
        width:54rem
    }
}

@media screen and (max-width: 20em) {
    .CallToActionButton_ctaWithData__3by4k {
        width:calc(100vw - 16.6rem)
    }
}

.TextFieldAdornmentCheck_check__2plGm {
    color: #008161;
    font-size: 2rem
}

@-webkit-keyframes SignUpAnimatedAppearance_appearance__3ahQU {
    0% {
        opacity: 0;
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes SignUpAnimatedAppearance_appearance__3ahQU {
    0% {
        opacity: 0;
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.SignUpAnimatedAppearance_containerInvisible__3oMaO,.SignUpAnimatedAppearance_containerVisible__389Ot {
    transition: opacity .2s cubic-bezier(.4,0,.2,1),-webkit-transform .2s cubic-bezier(.4,0,.2,1);
    transition: opacity .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1);
    transition: opacity .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1),-webkit-transform .2s cubic-bezier(.4,0,.2,1)
}

.SignUpAnimatedAppearance_containerVisible__389Ot {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.SignUpAnimatedAppearance_containerInvisible__3oMaO {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    display: none
}

.CodeSentToast_wrap__2jRrv {
    width: 100%;
    max-width: 76.8rem;
    opacity: 0;
    padding: 0 2rem;
    position: fixed;
    top: 6rem;
    margin: -3rem -2rem 0;
    transition: opacity .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1);
    transition: transform .25s cubic-bezier(.4,0,.2,1),opacity .25s cubic-bezier(.4,0,.2,1);
    transition: transform .25s cubic-bezier(.4,0,.2,1),opacity .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1);
    z-index: 30
}

.CodeSentToast_wrapActive__4biOD {
    opacity: 1;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem)
}

.CodeSentToast_body__wY_8C {
    font-size: 1.2rem;
    font-weight: 400;
    background: #008161;
    border-radius: .4rem;
    color: #fff;
    padding: 1.6rem 2rem;
    text-align: center
}

.EmailVerification_sendCode__26Pdr {
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 1.6rem
}

.EmailVerification_note__3xma6 {
    font-size: 1.1rem;
    font-weight: 400;
    color: #616161;
    line-height: 1.45
}

.EmailVerification_note__3xma6 strong {
    font-weight: 700
}

.EmailVerification_codeWrap__2MXaN {
    margin-top: 1.6rem
}

.EmailVerification_emailNoticeContainer__2VLkd {
    margin-bottom: 1.6rem;
    display: -webkit-flex;
    display: flex
}

.EmailVerification_emailNotice__3s-JE {
    font-size: 1.2rem;
    font-weight: 400;
    color: #e67000;
    line-height: 1.5
}

.EmailVerification_emailNoticeIcon__2Zycy {
    margin-top: .2rem;
    margin-right: .5rem;
    color: #e67000;
    font-size: 1.4rem;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto
}

.PhoneVerification_phoneNumber__1dcsp {
    min-height: 5.6rem
}

.PhoneVerification_sendCode__zqC9I {
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    margin-top: 1.6rem
}

.PhoneVerification_codeWrap__3sV2e {
    margin-top: 1.6rem
}

.PhoneVerification_littleTimeLeft__TAE-w {
    color: #de2e5f
}

.PhoneVerification_note__2fNQS {
    margin-right: -2rem;
    margin-left: -2rem;
    font-size: 1rem;
    font-weight: 400;
    background: #f8f8f8;
    color: #616161;
    line-height: 1.8;
    margin-top: 4rem;
    padding: 1.6rem
}

@media screen and (max-width: 15.625em) {
    .PhoneVerification_note__2fNQS {
        margin-right:-1.5rem;
        margin-left: -1.5rem
    }
}

.PhoneVerification_note__2fNQS strong {
    font-weight: 700
}

@media screen and (min-width: 48em) {
    .PhoneVerification_codeToast__OfPER {
        top:5.6rem
    }
}

.PhoneVerification_notice__FNr4S {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #616161;
    margin-top: 1.6rem
}

.SocialLoginAddInformation_container__1RwrT {
    width: 100%;
    min-height: calc(100vh - 4.8rem);
    max-width: 76.8rem;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
    padding: 1.2rem 0 12.3rem
}

@media screen and (min-width: 48em) {
    .SocialLoginAddInformation_container__1RwrT {
        padding-bottom:10.4rem
    }
}

.SocialLoginAddInformation_emailContainer__1MwcM,.SocialLoginAddInformation_phoneContainer__3b4Ez {
    padding: 0 2rem
}

.SocialLoginAddInformation_hiddenSubmit__3g7-l {
    display: none;
    visibility: hidden
}

.SocialLoginAddInformation_cta__2bOCY {
    padding: 2rem
}

.SocialLoginAddInformation_emailNoticeContainer__15Ma_ {
    margin-bottom: 1.6rem;
    display: -webkit-flex;
    display: flex
}

.SocialLoginAddInformation_emailNotice__2val_ {
    font-size: 1.2rem;
    font-weight: 400;
    color: #e67000;
    line-height: 1.5
}

.SocialLoginAddInformation_emailNoticeIcon__1SM1r {
    margin-top: .2rem;
    margin-right: .5rem;
    color: #e67000;
    font-size: 1.4rem;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto
}

.SocialLoginPassword_container__2yH8_ {
    width: 100%;
    min-height: calc(100vh - 4.8rem);
    max-width: 76.8rem;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
    padding: 1.2rem 2rem 12.3rem
}

@media screen and (min-width: 48em) {
    .SocialLoginPassword_container__2yH8_ {
        padding-bottom:10.4rem
    }
}

.SocialLoginPassword_cta__1Su3- {
    margin-top: 2rem
}

.SocialLoginSelectionBottomSheet_body__2dpTG {
    max-width: 40rem;
    margin: auto
}

.SocialLoginSelectionBottomSheet_accountContainer__3Pba7 {
    background: #fef8f2;
    padding: 2rem
}

.SocialLoginSelectionBottomSheet_notice__31Fra {
    text-align: center;
    margin-bottom: 1.4rem
}

.SocialLoginSelectionBottomSheet_noticeTitle__2rTvX {
    font-size: 1.4rem;
    font-weight: 700;
    color: #e67000;
    line-height: 1.29;
    margin-bottom: .2rem
}

.SocialLoginSelectionBottomSheet_noticeContent__N_xa7 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5
}

.SocialLoginSelectionBottomSheet_accountList__1h-p1 {
    box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.07);
    border-radius: .8rem
}

.SocialLoginSelectionBottomSheet_accountIcon__gqW6M {
    width: 3.2rem;
    height: 3.2rem;
    margin: 1rem 1rem 1rem 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.SocialLoginSelectionBottomSheet_accountLink__1lNsI {
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.SocialLoginSelectionBottomSheet_accountDisplay__16Lll {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: left
}

.SocialLoginSelectionBottomSheet_accountItem__3ItqP {
    font-size: 1.4rem;
    font-weight: 700;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 1.1rem 1rem 1.1rem 1.2rem;
    height: 5.4rem;
    border: 1px solid #e6e6e6;
    background: #fff;
    cursor: pointer
}

.SocialLoginSelectionBottomSheet_accountItem__3ItqP:not(:first-child) {
    border-top: 0
}

.SocialLoginSelectionBottomSheet_accountItem__3ItqP:first-of-type {
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem
}

.SocialLoginSelectionBottomSheet_accountItem__3ItqP:last-of-type {
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem
}

.SocialLoginSelectionBottomSheet_newAccount__ZTe8E {
    padding: .8rem 0 1.5rem;
    height: 5.5rem
}

.SocialLoginSelectionBottomSheet_newAccountLabel__R7CH5 {
    font-size: 1.2rem;
    font-weight: 400;
    padding: .8rem 2rem;
    cursor: pointer
}

.SocialSignUpTermModal_pageTitle__3Lnlc {
    position: fixed;
    top: 0;
    right: 0;
    left: 0
}

.SocialSignUpTermModal_container__wcZI6 {
    padding-right: 2rem;
    padding-left: 2rem;
    min-height: calc(100vh - 4.8rem);
    background: #fff;
    position: relative
}

@media screen and (max-width: 15.625em) {
    .SocialSignUpTermModal_container__wcZI6 {
        padding-right:1.5rem;
        padding-left: 1.5rem
    }
}

.SocialSignUpTermModal_contents__1RSNp {
    font-size: 1.4rem;
    font-weight: 400;
    color: #616161;
    line-height: 1.2857142857;
    padding: 2rem 0
}

.SocialSignUpTermModal_contents__1RSNp h3 {
    font-size: 1.6rem;
    font-weight: 700
}

.SocialSignUpTermModal_contents__1RSNp table {
    border-spacing: 0;
    border-collapse: collapse
}

.SocialSignUpTermModal_contents__1RSNp th {
    height: 3.8rem;
    background: #f2f2f2;
    border: .1rem solid #d9d9d9;
    color: #2e2e2e;
    font-weight: 400;
    padding: .5rem
}

.SocialSignUpTermModal_contents__1RSNp td {
    border: .1rem solid #d9d9d9;
    padding: .5rem
}

.SocialSignUpTermModal_contents__1RSNp summary {
    display: none
}

.SocialSignUpTermModal_contents__1RSNp .POLICY_EMPHASIZE {
    font-size: 1.44rem
}

.SocialSignUpTermModal_contents__1RSNp .POLICY_EMPHASIZE_UNDERLINE {
    font-size: 1.44rem;
    text-decoration: underline
}

.SocialSignUpTermModal_loader__2piyh {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media screen and (min-width: 48em) {
    .SocialSignUpTermModal_container__wcZI6 {
        min-height:calc(100vh - 4.4rem)
    }
}

.SocialSignUpTerm_toggleAllWrap__2XESV {
    padding: .4rem 0
}

.SocialSignUpTerm_toggleAll__1TQ3w {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    width: 100%;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 1.2rem;
    text-align: left
}

@media(hover: hover) {
    .SocialSignUpTerm_toggleAll__1TQ3w:hover {
        background:#f8f8f8
    }
}

.SocialSignUpTerm_toggleAll__1TQ3w:active {
    background: #f2f2f2
}

.SocialSignUpTerm_toggleAllLabel__1JBvJ {
    font-size: 1.2rem;
    font-weight: 400;
    color: #616161;
    margin-left: 1rem;
    padding-top: .2rem
}

.SocialSignUpTerm_toggleAllLabel__1JBvJ strong {
    font-size: 1.6rem;
    font-weight: 700;
    color: #1a1a1a
}

.SocialSignUpTerm_toggleAllCheck__1tC9X {
    width: 2rem;
    height: 2rem
}

.SocialSignUpTerm_termList__2TlkZ {
    font-size: 1.4rem;
    font-weight: 400;
    color: #616161;
    line-height: 1.8rem;
    padding: 1.6rem .4rem 0 0
}

.SocialSignUpTerm_termList__2TlkZ>li+li {
    margin-top: .8rem
}

.SocialSignUpTerm_termInnerList__YYNBx {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    padding: 0 0 .4rem 3.6rem
}

.SocialSignUpTerm_termInnerList__YYNBx>li+li {
    margin-top: .8rem
}

.SocialSignUpTerm_term__Tb8qq {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    position: relative
}

.SocialSignUpTerm_termList__2TlkZ .SocialSignUpTerm_check__17Cem {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: .4rem;
    padding: .7rem
}

.SocialSignUpTerm_termInnerList__YYNBx .SocialSignUpTerm_check__17Cem {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: .8rem;
    padding: .4rem
}

.SocialSignUpTerm_label__33dxq {
    cursor: pointer;
    display: block;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-right: 3.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #1a1a1a
}

.SocialSignUpTerm_label__33dxq strong {
    font-size: 1.4rem;
    font-weight: 400;
    color: #de2e5f
}

.SocialSignUpTerm_label__33dxq small {
    font-size: 1.4rem;
    font-weight: 400
}

.SocialSignUpTerm_label__33dxq>a,a.SocialSignUpTerm_label__33dxq {
    color: inherit;
    text-decoration: none;
    display: block;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/icon-arrow-forward-line-1.svg) no-repeat 100%;
    margin-right: .4rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #1a1a1a
}

.SocialSignUpTerm_termList__2TlkZ .SocialSignUpTerm_label__33dxq {
    padding: .8rem .4rem
}

.SocialSignUpTerm_termInnerList__YYNBx .SocialSignUpTerm_label__33dxq {
    padding: .6rem .2rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #616161
}

.SocialSignUpTerm_caption__271HT {
    font-size: 1rem;
    font-weight: 400;
    color: #919191;
    display: block;
    line-height: normal;
    margin-top: .2rem;
    text-decoration: none
}

.SocialSignUpTerm_innerListOpener__gJjQe {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: #919191;
    cursor: pointer;
    font-size: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: .4rem;
    right: 0
}

.SocialSignUpTerm_innerListOpenerArrowOpened__ufenE {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

@media screen and (min-width: 23.4375em) {
    .SocialSignUpTerm_termList__2TlkZ {
        padding-top:1.2rem
    }
}

.SocialLoginButtons_container__3v-KI {
    height: 5.2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.SocialLoginButtons_container__3v-KI>* {
    margin-left: 1.6rem
}

.SocialLoginButtons_container__3v-KI :first-of-type {
    margin-left: 0
}

.SocialLoginButtons_logo__1LcxX {
    width: 5.2rem;
    cursor: pointer
}

.SocialBody_container__2OIpZ {
    width: 100%;
    max-width: 76.8rem;
    min-height: calc(100% - 4.8rem);
    height: calc(100% - 4.8rem);
    background: #fff;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.SocialBody_hasSmartBanner__1DeLc {
    height: calc(100% - 13.5rem);
    min-height: calc(100% - 13.5rem)
}

.SocialBody_centerContainer__2PJKt {
    height: 100%;
    -webkit-flex-flow: column;
    flex-flow: column
}

.SocialBody_centerContainer__2PJKt,.SocialBody_logoContainer__1rntB {
    /* width:100%; */
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.SocialBody_logoContainer__1rntB {
    height: 0
}

.SocialBody_bottomContainer__8Qkq9 {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0
}

.SocialBody_logo__1eOdb {
    width: 12.4rem;
    margin-bottom: 10rem
}

.SocialBody_buttonContainer__3q8VX,.SocialBody_logo__1eOdb {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.SocialBody_buttonContainer__3q8VX {
    -webkit-flex-flow: column;
    flex-flow: column;
    margin-top: 2rem;
    padding: 0 2rem;
    width: 100%
}

.SocialBody_buttonContainer__3q8VX button {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.3rem 1.6rem;
    width: 100%;
    margin: .8rem 0 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.SocialBody_buttonContainer__3q8VX button :first-of-type {
    margin-top: 0
}

.SocialBody_join__3UE30 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #616161;
    text-align: center;
    margin-bottom: 1.2rem
}

.SocialBody_joinButton__2Wt4f {
    font-size: 1.4rem;
    font-weight: 700
}

.login_sunnyContainer__1a8Fx {
    height: 100%;
    background: #fff
}

@media screen and (min-width: 48em) {
    .login_sunnyContainer__1a8Fx {
        height:calc(100% - 4.8rem)
    }
}

.login_sunnyBody__2DC37 {
    height: calc(100% - 4.8rem);
    min-height: calc(100% - 4.8rem)
}

/*# sourceMappingURL=d4bdd2ec8c38d0eed40c.css.map*/
