.FixedHeight_container__3KG7c {
    position: relative
}

.FixedHeight_source__3Ware {
    visibility: hidden
}

.FixedHeight_children__3gvYM {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.PromotionBannerList_swiper__2LXaq .swiper-button-next,.PromotionBannerList_swiper__2LXaq .swiper-button-prev {
    background-image: none
}

.PromotionBannerList_swiper__2LXaq .swiper-wrapper {
    -webkit-align-items: flex-end;
    align-items: flex-end
}

@media screen and (min-width: 23.5em) {
    .PromotionBannerList_swiper__2LXaq .swiper-wrapper {
        -webkit-align-items:center;
        align-items: center
    }
}

.PromotionBannerList_swiper__2LXaq.PromotionBannerList_center__4nWtO .swiper-container {
    -webkit-justify-content: center;
    justify-content: center
}

.PromotionBannerList_swiper__2LXaq .swiper-container:before {
    display: none
}

.PromotionBannerList_swiper__2LXaq .swiper-container:after {
    display: none
}

.PromotionBannerList_swiper__2LXaq,.PromotionBannerList_swiper__2LXaq .swiper-container {
    height: 100%
}

.PromotionBannerList_swiperDisable__tt-KJ {
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    -webkit-justify-content: center;
    justify-content: center
}

.PromotionBannerItem_normal__1MYgI {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    -webkit-align-items: flex-end;
    align-items: flex-end
}

@media screen and (min-width: 23.5em) {
    .PromotionBannerItem_normal__1MYgI {
        width:37.5rem;
        -webkit-align-items: center;
        align-items: center
    }
}

.PromotionBannerItem_normal__1MYgI .PromotionBannerItem_cover__2YiSj {
    width: 100%;
    max-height: 100%
}

.PromotionBannerItem_round__3sI_5 {
    width: calc(100% - 3.2rem);
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    -webkit-align-items: flex-end;
    align-items: flex-end
}

@media screen and (min-width: 23.5em) {
    .PromotionBannerItem_round__3sI_5 {
        width:34.3rem;
        -webkit-align-items: center;
        align-items: center
    }
}

.PromotionBannerItem_round__3sI_5 .PromotionBannerItem_cover__2YiSj {
    width: calc(100% - .8rem);
    max-height: 100%;
    border-radius: 4px
}

.PromotionBannerItem_round__3sI_5:first-child:nth-last-child(2),.PromotionBannerItem_round__3sI_5:first-child:nth-last-child(2)~.PromotionBannerItem_round__3sI_5,.PromotionBannerItem_round__3sI_5:only-child {
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.PromotionBannerItem_overviewNormal__iWZuE {
    width: 100%;
    margin-bottom: .1rem
}

.PromotionBannerItem_overviewNormal__iWZuE img {
    width: 100%
}

.PromotionBannerItem_overviewRound__1fZFu {
    width: 100%;
    margin-bottom: .1rem
}

.PromotionBannerItem_overviewRound__1fZFu img {
    width: 100%;
    border-radius: .4rem
}

.PromotionBannerButtons_pcContainer__187J1 {
    display: none;
    height: 4rem
}

@media screen and (min-width: 23.5em) {
    .PromotionBannerButtons_pcContainer__187J1 {
        display:-webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center
    }
}

.PromotionBannerButtons_pcContainer__187J1 .PromotionBannerButtons_indexButton__2LUj4,.PromotionBannerButtons_pcContainer__187J1 .PromotionBannerButtons_playToggleButton__3Lwtn {
    padding-top: .2rem;
    border: none;
    background-color: transparent
}

.PromotionBannerButtons_pcContainer__187J1 .PromotionBannerButtons_divider__1bRCE {
    width: .1rem;
    height: 1.2rem;
    margin: 0 .8rem;
    background-color: #ccc
}

.PromotionBannerButtons_pcContainer__187J1 .PromotionBannerButtons_indexInfo__jswH9 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 .8rem
}

.PromotionBannerButtons_pcContainer__187J1 .PromotionBannerButtons_activeIndex__PODxE {
    width: 1rem;
    display: inline-block
}

@media screen and (min-width: 48em) {
    .PromotionBannerButtons_onlyMobile__I-qhS {
        display:none
    }
}

.PromotionBannerButtons_mobileContainer__3wkNj {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    border: none;
    bottom: 0;
    z-index: 20
}

@media screen and (min-width: 23.5em) {
    .PromotionBannerButtons_mobileContainer__3wkNj {
        display:none
    }
}

.PromotionBannerButtons_mobileContainer__3wkNj .PromotionBannerButtons_playToggleButton__3Lwtn {
    background: rgba(0,0,0,.62);
    padding: .4rem .5rem 0;
    border: none
}

.PromotionBannerButtons_mobileContainer__3wkNj .PromotionBannerButtons_divider__1bRCE {
    width: .1rem;
    height: 2.4rem;
    background-color: hsla(0,0%,100%,.3)
}

.PromotionBannerButtons_mobileContainer__3wkNj .PromotionBannerButtons_overviewButton__PN-Tb {
    font-size: 1.1rem;
    font-weight: 400;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 2.4rem;
    padding: .5rem .5rem .5rem .8rem;
    background: rgba(0,0,0,.62);
    color: #fff;
    border: none;
    white-space: nowrap
}

.PromotionBannerButtons_mobileContainer__3wkNj .PromotionBannerButtons_overviewButton__PN-Tb .PromotionBannerButtons_activeIndex__PODxE {
    width: 1.3rem;
    display: inline-block
}

.PromotionBannerButtons_mobileContainer__3wkNj .PromotionBannerButtons_overviewButton__PN-Tb .PromotionBannerButtons_addLineImage__3TDln {
    margin-left: .2rem
}

.PromotionBannerButtons_mobileContainer__3wkNj.PromotionBannerButtons_round__13bSA {
    width: calc(100% - 2rem)
}

.PromotionBannerButtons_mobileContainer__3wkNj.PromotionBannerButtons_round__13bSA .PromotionBannerButtons_playToggleButton__3Lwtn {
    border-radius: .4rem 0 0 0
}

.PromotionBannerButtons_mobileContainer__3wkNj.PromotionBannerButtons_round__13bSA .PromotionBannerButtons_overviewButton__PN-Tb {
    border-radius: 0 0 .4rem 0
}

.RoundedPromotionBanner_container__34WOj {
    position: relative;
    background: #fff
}

@media screen and (min-width: 48em) {
    .RoundedPromotionBanner_container__34WOj {
        max-width:76.8rem
    }
}

.RoundedPromotionBanner_overviewItem__ItM1N {
    padding-left: 2rem
}

.RoundedPromotionBanner_overviewItem__ItM1N img {
    width: calc(100% - 4rem)
}

/*# sourceMappingURL=c5cb343e0c36588f237a.css.map*/
