.ProductCurationGridTabs_container__bQJO_ {
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 1px 0;
    display: -webkit-flex;
    display: flex;
    padding: 0 .75rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ProductCurationGridTabs_item__zG1Dd {
    border-radius: .8rem;
    width: 100%;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 .75rem;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ProductCurationGridTabs_name__33JCD {
    height: 3.6rem;
    color: #616161;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
    position: relative
}

.ProductCurationGridTabs_name__33JCD:after {
    content: "";
    width: 100%;
    height: .2rem;
    background: #2e2e2e;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0
}

.ProductCurationGridTabs_itemActive__1G82M {
    color: #2e2e2e;
    font-weight: 700
}

.ProductCurationGridTabs_itemActive__1G82M:after {
    opacity: 1
}

.ProductBadges_container__1A4Ml {
    display: inline-block
}

.ProductBadges_badge__PRhPM {
    font-size: 1rem;
    font-weight: 700;
    padding: .2rem .5rem;
    margin-right: .4rem;
    margin-bottom: .4rem;
    height: 1.6rem;
    line-height: 1.2rem;
    border-radius: .2rem;
    box-sizing: border-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center
}

.Badge_baseBadgeStyle__27HJP {
    display: inline-block;
    margin-right: .4rem;
    box-sizing: border-box
}

.Badge_baseBadgeStyle__27HJP:last-child {
    margin-right: 0
}

.Badge_baseBadgeStyle__27HJP .Badge_name__j2BjI {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    padding: 0 .4rem;
    margin-top: .2rem;
    vertical-align: bottom;
    background: #de2e5f;
    background-size: 100%;
    border-radius: .2rem 0 0 .2rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 700
}

.Badge_baseBadgeStyle__27HJP.Badge_hotdeal__3cmNv .Badge_name__j2BjI {
    width: 4.1rem;
    height: 1.8rem;
    text-align: left;
    line-height: 2.2rem;
    padding-left: 1.8rem;
    padding-right: 0;
    margin-top: 0;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/hotdeal/ic-taghotdeal-normal-yapink-500-h-18.svg) no-repeat
}

.Badge_baseBadgeStyle__27HJP .Badge_desc__3hwV5 {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    overflow: hidden;
    padding: 0 .5rem;
    vertical-align: bottom;
    background-color: #fff;
    border: .1rem solid #de2e5f;
    border-radius: 0 .2rem .2rem 0;
    color: #de2e5f;
    font-size: 1rem;
    font-weight: 700
}

.soldout .Badge_baseBadgeStyle__27HJP .Badge_name__j2BjI {
    background-image: url(//yaimg.yanolja.com/joy/sunny/static/images/hotdeal/ic-tagfirst-disable-gray-600-h-16.svg)
}

.soldout .Badge_baseBadgeStyle__27HJP .Badge_desc__3hwV5 {
    border-color: #919191;
    color: #919191
}

.soldout .Badge_baseBadgeStyle__27HJP.Badge_hotdeal__3cmNv .Badge_name__j2BjI {
    background-image: url(//yaimg.yanolja.com/joy/sunny/static/images/hotdeal/ic-taghotdeal-disable-gray-500-h-18.svg)
}

.RecommendItemRating_container__tFbBZ {
    margin-top: .4rem
}

.RecommendItemRating_star__2JxEi {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .2rem;
    margin-bottom: -.1rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/icon-score-yayellow-fill.svg) no-repeat
}

.RecommendItemRating_rating__3ryx2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: .2rem
}

.RecommendItemRating_reviewInfo__1beo- {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: .2rem
}

.RecommendItemRating_reviewInfo__1beo- b:first-child {
    margin-right: .1rem
}

.RecommendItemPrice_priceDescription__25W2e {
    margin-top: .8rem;
    text-align: right;
    color: #919191;
    line-height: 1.3rem;
    font-size: 1.1rem;
    font-weight: 400
}

.RecommendItemPrice_price__PjIt8 {
    line-height: 1.9rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.RecommendItemPrice_soldout__3c-XP {
    font-size: 1.4rem;
    font-weight: 700;
    color: #919191
}

.RecommendItemPrice_rate__1DJZa {
    color: #de2e5f;
    margin-right: .4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400
}

.RecommendItemPrice_percentage__2XkKB {
    color: #de2e5f;
    font-size: 1.2rem;
    font-weight: 700
}

.RecommendItemPrice_amount__1sqpI {
    font-size: 1.6rem;
    font-weight: 700
}

.RecommendItemPrice_unit__ETXzE {
    margin-left: .1rem;
    display: inline-block;
    padding-bottom: .2rem;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 400
}

.RecommendItem_container__3j_iW {
    color: inherit;
    text-decoration: none;
    width: 14rem;
    height: auto;
    box-sizing: content-box;
    display: block;
    padding: 0;
    color: #1a1a1a
}

.RecommendItem_thumbnail__1STzD {
    width: 14rem;
    height: 14rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/img-thumbnail-nogoods-square-fill.svg) 50%;
    background-size: cover;
    border-radius: .4rem;
    overflow: hidden;
    position: relative
}

.RecommendItem_distance__22CHn {
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/ico-location-12-white.svg) .2rem no-repeat rgba(0,0,0,.6);
    border-radius: .4rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.3;
    padding: .2rem .5rem .2rem 1.4rem;
    position: absolute;
    bottom: 0;
    left: 0
}

.RecommendItem_body__1yjBQ {
    padding: .8rem .4rem 0
}

.RecommendItem_title__D9XAO {
    max-height: 3.4rem;
    line-height: 1.2142857143;
    visibility: visible;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.4rem;
    font-weight: 400
}

.RecommendItem_review__2imAl {
    margin-bottom: .6rem
}

.RecommendItem_reviewRate__3qI8I {
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/rate-on.svg) no-repeat;
    padding: .1rem .8rem 0 1.7rem;
    color: #2e2e2e;
    font-size: 1.2rem;
    font-weight: 700
}

.RecommendItem_reviewRate__3qI8I:after {
    content: "/5";
    color: #919191;
    font-size: 1rem;
    font-weight: 400
}

.RecommendItem_reviewCount__1tdP6 {
    color: #616161;
    font-size: 1.2rem;
    font-weight: 400
}

.RecommendItem_reviewCount__1tdP6 strong {
    color: #2e2e2e;
    font-size: 1.2rem;
    font-weight: 700
}

.RecommendItem_detailButton__3ownN {
    width: 100%;
    height: 2.6rem;
    margin-top: 0;
    border: .1rem solid #0152cc;
    border-radius: .4rem;
    background: #fff;
    color: #0152cc;
    font-size: 1.3rem;
    font-weight: 700
}

.ProductCurationGrid_container__3FQpV {
    background-color: #fff
}

@media screen and (max-width: 20em) {
    .ProductCurationGrid_container__3FQpV {
        font-size:1rem;
        line-height: 1.2rem
    }
}

@media screen and (min-width: 48em) {
    .ProductCurationGrid_container__3FQpV {
        font-size:1.3rem;
        max-width: 76.8rem
    }
}

.ProductCurationGrid_itemContainer__1K4e4 {
    margin-top: 1.2rem;
    display: -webkit-flex;
    display: flex
}

@media screen and (max-width: 47.9375em) {
    .ProductCurationGrid_itemContainer__1K4e4 {
        -webkit-flex-wrap:wrap;
        flex-wrap: wrap
    }
}

.ProductCurationGrid_itemWrapper__2vMFf {
    margin-right: 1.6rem;
    -webkit-flex: 1 1;
    flex: 1 1
}

.ProductCurationGrid_itemWrapper__2vMFf:last-of-type {
    margin-right: 0
}

@media screen and (min-width: 48em) {
    .ProductCurationGrid_itemWrapper__2vMFf {
        max-width:17rem
    }
}

@media screen and (max-width: 47.9375em) {
    .ProductCurationGrid_itemWrapper__2vMFf {
        width:calc(50% - .8rem);
        max-width: calc(50% - .8rem);
        display: inline-block;
        margin-right: 0;
        -webkit-flex: auto;
        flex: auto
    }

    .ProductCurationGrid_itemWrapper__2vMFf:nth-child(odd) {
        margin-right: 1.6rem
    }

    .ProductCurationGrid_itemWrapper__2vMFf:first-of-type,.ProductCurationGrid_itemWrapper__2vMFf:nth-child(2) {
        margin-bottom: 1.6rem
    }
}

@media screen and (max-width: 20em) {
    .ProductCurationGrid_itemWrapper__2vMFf {
        width:calc(50% - .4rem);
        max-width: calc(50% - .4rem);
        display: inline-block;
        margin-right: 0
    }

    .ProductCurationGrid_itemWrapper__2vMFf:nth-child(odd) {
        margin-right: .8rem
    }

    .ProductCurationGrid_itemWrapper__2vMFf:first-of-type,.ProductCurationGrid_itemWrapper__2vMFf:nth-child(2) {
        margin-bottom: 1.6rem
    }
}

.ProductCurationGrid_itemWrapper__2vMFf .ProductCurationGrid_item__38L1X {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1;
    flex: 1 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.ProductCurationGrid_itemWrapper__2vMFf .ProductCurationGrid_itemImg__37Krv {
    width: 100%;
    height: auto;
    padding-top: 75%
}

/*# sourceMappingURL=8feaf7da396c6872d021.css.map*/
