@-webkit-keyframes DotLoader_fade__2UWKx {
    0%,80%,to {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

@keyframes DotLoader_fade__2UWKx {
    0%,80%,to {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}

.DotLoader_container__359O8 {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.DotLoader_dot__3eAtq {
    width: .9rem;
    height: .9rem;
    -webkit-animation: DotLoader_fade__2UWKx 1.4s ease-in-out infinite both;
    animation: DotLoader_fade__2UWKx 1.4s ease-in-out infinite both;
    background: #0152cc;
    border-radius: 50%
}

.DotLoader_dot__3eAtq:nth-child(2) {
    -webkit-animation-delay: .16s;
    animation-delay: .16s
}

.DotLoader_dot__3eAtq:nth-child(3) {
    -webkit-animation-delay: .32s;
    animation-delay: .32s
}

.DotLoader_dot__3eAtq+.DotLoader_dot__3eAtq {
    margin-left: 1rem
}

.Body_container__YAXN3 {
    width: 100%;
    max-width: 76.8rem;
    min-height: calc(100% - 4.8rem);
    height: calc(100vh - 4.8rem);
    background: #fff;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem
}

.kakao_container__1tIx0 {
    width: 100vw;
    height: 100vh
}

.kakao_container__1tIx0,.MemberSocialAuth_container__2m0GZ {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.MemberSocialAuth_container__2m0GZ {
    padding-right: 2rem;
    padding-left: 2rem;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 76.8rem;
    background: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1a;
    text-align: center
}

@media screen and (max-width: 15.625em) {
    .MemberSocialAuth_container__2m0GZ {
        padding-right:1.5rem;
        padding-left: 1.5rem
    }
}

.MemberSocialAuth_kakao__2OITw {
    background: #fde400;
    border: 0
}

.MemberSocialAuth_kakao__2OITw:active,.MemberSocialAuth_kakao__2OITw:hover {
    background: #fde400!important
}

.MemberSocialAuth_naver__2gqp5 {
    background: #1ec800;
    border: 0
}

.MemberSocialAuth_naver__2gqp5:active,.MemberSocialAuth_naver__2gqp5:hover {
    background: #1ec800!important
}

.MemberSocialAuth_ctaKakaoText__1rSnI {
    color: #1a1a1a
}

.MemberSocialAuth_ctaKakaoText__1rSnI,.MemberSocialAuth_ctaNaverText__5w6iw {
    font-size: 1.6rem;
    font-weight: 700;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.MemberSocialAuth_ctaNaverText__5w6iw {
    color: #fff
}

.MemberSocialAuth_logo__fcAZK {
    margin-top: -2px;
    margin-right: 1rem;
    height: 2.1rem;
    width: 2.1rem
}

.MemberProfileCommon_container__2iksG {
    padding: 0 2rem;
    background: #fff
}

.MemberProfileCommon_heading__232_g {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2e2e2e;
    padding: 2.1rem 0;
    border-bottom: 1px solid #ddd
}

.MemberProfileCommon_divider__jZii9 {
    width: 100%;
    height: 1rem;
    background: #f2f2f2;
    border: none;
    border-top: 1px solid #ddd
}

.MemberProfileCommon_contentsRow__3lizv {
    position: relative
}

.MemberProfileCommon_contentsLeft__49mfn {
    display: inline-block;
    width: 7rem;
    font-size: 1.4rem;
    color: #616161;
    font-weight: 300;
    padding: 1.75rem 0;
    vertical-align: top
}

.MemberProfileCommon_contentsRight___FPH3 {
    position: relative;
    display: inline-block;
    width: calc(100% - 7.5rem);
    margin-left: -0.5rem;
    font-size: 1.5rem;
    color: #2e2e2e;
    padding: 1.75rem 5px
}

.MemberProfileCommon_contentsEdit__1h3JX {
    position: absolute;
    font-size: 1.2rem;
    color: #0152cc;
    right: 0;
    top: 0;
    border: none;
    background: none;
    padding: 1.75rem 0 1.75rem 1rem
}

.MemberProfileCommon_contentsEdit__1h3JX:hover {
    color: #1c627f
}

.MemberProfileCommon_submitButton__1g9tX {
    display: inline-block;
    font-size: 1.3rem;
    color: #616161;
    border: 1px solid #616161;
    border-radius: .4rem;
    height: 3.2rem;
    background: none;
    padding: 0 1.5rem
}

.MemberProfileCommon_submitButton__1g9tX:hover {
    color: #fff;
    border: 1px solid #616161;
    background: #616161
}

.MemberProfileCommon_submitButton__1g9tX:active {
    color: #fff;
    border: 1px solid #616161;
    background: #616161
}

.MemberProfileCommon_submitButton__1g9tX:disabled,.MemberProfileCommon_submitButton__1g9tX:disabled:hover {
    color: #ccc;
    border: 1px solid #ccc;
    background: #fff
}

.MemberProfileCommon_cancelButton__AXcvv {
    display: inline-block;
    font-size: 1.3rem;
    color: #919191;
    border: 1px solid transparent;
    border-radius: .4rem;
    height: 3.2rem;
    background: none;
    padding: 0 1.5rem
}

.MemberProfileCommon_cancelButton__AXcvv:active,.MemberProfileCommon_cancelButton__AXcvv:hover {
    color: #616161
}

.MemberProfileCommon_withdrawButton__1RTo1 {
    display: block;
    position: relative;
    padding: 2.1rem 0;
    cursor: pointer
}

.MemberProfileCommon_withdrawButton__1RTo1>span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2e2e2e
}

.MemberProfileCommon_withdrawButton__1RTo1>i {
    position: absolute;
    top: 1.7rem;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    vertical-align: top;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/ico-arr-1-right.svg) no-repeat
}

.MemberProfileCommon_checkbox__bOckz {
    display: inline-block;
    vertical-align: middle;
    padding: .1rem
}

.MemberProfileCommon_checkbox__bOckz label {
    cursor: pointer
}

.MemberProfileCommon_checkbox__bOckz input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
    appearance: none
}

.MemberProfileCommon_checkbox__bOckz input[type=checkbox]+label {
    display: inline-block;
    vertical-align: middle
}

.MemberProfileCommon_checkbox__bOckz input[type=checkbox]+label>i {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/checkbox-off.svg) no-repeat
}

.MemberProfileCommon_checkbox__bOckz input[type=checkbox]:checked+label>i {
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/checkbox-on.svg) no-repeat
}

.Agreements_row__3-cUa {
    padding: 2rem 0
}

.Agreements_item__1Qrmo {
    width: 9rem
}

.Agreements_label__33xbo {
    color: #616161;
    font-size: 1.4rem;
    padding-left: 1rem
}

.InputDefault_wrapper__1szeZ {
    position: relative;
}

.InputDefault_inputInvalid__3vQs8,.InputDefault_inputValid__102ly {
    width: 100%;
    border: none;
    border-bottom: .1rem solid;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.5rem;
    padding: .7rem 1rem
}

.InputDefault_inputInvalid__3vQs8::-moz-placeholder,.InputDefault_inputValid__102ly::-moz-placeholder {
    color: #ababab;
    font-size: 1.3rem;
    letter-spacing: -.06rem
}

.InputDefault_inputInvalid__3vQs8::-ms-input-placeholder,.InputDefault_inputValid__102ly::-ms-input-placeholder {
    color: #ababab;
    font-size: 1.3rem;
    letter-spacing: -.06rem
}

.InputDefault_inputInvalid__3vQs8::-webkit-input-placeholder,.InputDefault_inputValid__102ly::-webkit-input-placeholder {
    color: #ababab;
    font-size: 1.3rem;
    letter-spacing: -.06rem
}

.InputDefault_inputInvalid__3vQs8:-moz-placeholder,.InputDefault_inputValid__102ly:-moz-placeholder {
    color: #ababab;
    font-size: 1.3rem;
    letter-spacing: -.06rem
}

.InputDefault_inputInvalid__3vQs8:-ms-input-placeholder,.InputDefault_inputValid__102ly:-ms-input-placeholder {
    color: #ababab;
    font-size: 1.3rem;
    letter-spacing: -.06rem
}

.InputDefault_inputInvalid__3vQs8:disabled,.InputDefault_inputValid__102ly:disabled {
    background: none
}

.InputDefault_inputValid__102ly {
    border-bottom-color: #919191
}

.InputDefault_inputInvalid__3vQs8 {
    border-bottom-color: #de2e5f
}

.InputDefault_error__1uKhU {
    width: 100%;
    height: 4rem;
    color: #de2e5f;
    font-size: 1.2rem;
    padding: .5rem 1.2rem
}

.InputDefault_clear__OQcsb {
    width: 2.6rem;
    height: 2.6rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/btn-del-hover.svg) .1rem .1rem no-repeat;
    cursor: pointer;
    display: inline-block;
    opacity: .5;
    padding: .1rem;
    position: absolute;
    top: 0;
    right: 0
}

.InputDefault_clear__OQcsb:hover {
    opacity: 1
}

.Nickname_container__3CsMD {
    padding: 3rem 2rem 2rem;
    background: #fff
}

.Nickname_profileImage__30Iky {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #aaa url(//yaimg.yanolja.com/joy/sunny/static/images/ico-profile-dummy.svg);
    margin: 0 auto;
    display: block
}

.Nickname_memberID__3MMXU {
    text-align: center;
    font-size: 1.5rem;
    color: #919191;
    margin-top: .2rem
}

.Nickname_nickname__3ffy2 {
    text-align: center;
    margin-top: 2rem;
    position: relative
}

.Nickname_nickname__3ffy2>span {
    font-size: 1.5rem;
    color: #2e2e2e;
    font-weight: 700
}

.Nickname_nickname__3ffy2:after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: top;
    margin-left: .5rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/ico-edit.svg) no-repeat
}

.Nickname_nickname__3ffy2:hover:after {
    background-image: url(//yaimg.yanolja.com/joy/sunny/static/images/ico-edit-hover.svg)
}

.Nickname_nicknameEditor__1VjQ3 {
    margin-top: 3rem
}

.Nickname_nicknameEditorLeft__38CCg {
    display: inline-block;
    width: 7rem;
    font-size: 1.4rem;
    color: #616161;
    font-weight: 300;
    padding: 1.75rem 0;
    height: 5.2rem;
    vertical-align: top
}

.Nickname_nicknameEditorRight__2-zkI {
    display: inline-block;
    width: calc(100% - 7.5rem);
    margin-left: -0.5rem;
    font-size: 1.5rem;
    color: #2e2e2e;
    padding: 1rem 0
}

.Nickname_nicknameInput__LkKaw .input-error-message {
    height: 2rem
}

.Nickname_nicknameEditorButtons__2Qh_7 {
    display: inline-block;
    width: calc(100% - 7.5rem);
    margin-left: -0.5rem
}

.Password_passwordInput__3zeBX .input-error-message {
    height: auto;
    min-height: 2.3rem
}

.Phone_phoneInputWrap__3u9t5,.Phone_phoneNum__1km1x {
    width: calc(100% - 11.5rem);
    display: inline-block
}

.Phone_phoneInput__foTIF .input-error-message {
    height: auto;
    min-height: 2.3rem
}

.Phone_sendCodeButton__1UTdL {
    width: 10rem;
    height: 3.2rem;
    font-size: 1.3rem;
    font-weight: 700;
    display: inline-block;
    margin-left: 0.5rem;
    border: none;
    border-radius: .4rem;
    vertical-align: top;
    background: #de2e5f;
    color: #fff
}

.Phone_sendCodeButton__1UTdL:hover {
    background: #cc2960
}

.Phone_sendCodeButton__1UTdL:disabled,.Phone_sendCodeButton__1UTdL:disabled:hover {
    background: #ccc;
    color: #fff;
    cursor: default
}

.Phone_sendCodeButton__1UTdL.Phone_sended__3otHm {
    font-weight: 400;
    background: #fff;
    color: #de2e5f;
    border: 1px solid #de2e5f
}

.Phone_sendCodeButton__1UTdL.Phone_sended__3otHm:hover {
    background: #cc2960;
    color: #fff;
    border: none
}

.Phone_codeInputs__3OkMZ {
    position: relative
}

.Phone_expirationTime__3ADSA {
    position: absolute;
    right: 0;
    top: 1rem;
    font-size: 1.2rem;
    color: #de2e5f;
    font-weight: 300
}

.MemberProfile_container__1W8xH {
    max-width: 76.8rem;
    margin: 0 auto
}

.MemberProfile_withdrawButton__3J6hM {
    display: block;
    position: relative;
    padding: 2.1rem 0;
    cursor: pointer
}

.MemberProfile_withdrawButton__3J6hM>span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2e2e2e
}

.MemberProfile_withdrawButton__3J6hM>i {
    position: absolute;
    top: 1.7rem;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    vertical-align: top;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/ico-arr-1-right.svg) no-repeat
}

.MemberProfileAuth_container__1ZZic {
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 4.8rem)
}

.MemberProfileAuth_wrap__1ACK8 {
    margin: 0 auto;
    background: #fff;
    max-width: 76.8rem
}

.MemberProfileAuth_message__14Uwl {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    padding: 2rem;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    color: #1a1a1a
}

/*# sourceMappingURL=c7bbfa587b174a45e509.css.map*/
