
.platform-site-nbtqgu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: normal;
    white-space: normal;
}
.platform-site-1sg2lsz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.platform-site-712c3w .item-count {
    font-size: 1.4rem;
}
.platform-site-712c3w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-weight: bold;
    line-height: 2.4rem;
    word-break: keep-all;
    white-space: nowrap;
}
.platform-site-1j4ouxc {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 1.6rem 2rem 1.2rem 2rem;
}
.platform-site-154xnz0 {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.platform-site-kgkmmi {
    cursor: pointer;
    position: relative;
    top: 0.1rem;
    padding: 1.1rem;
    margin: -1.1rem;
    display: inline-block;
}
.platform-site-1yu6e8o {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #de2e5f;
    background: none;
}


.platform-site-ny6pqm {
    font-size: 1.2rem;
    font-weight: normal;
    background-color: #f8f8f8;
    margin-top: 2rem;
    padding: 0 1.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3.6rem;
    border-radius: 0.4rem;
}
.platform-site-8h05lb>span {
    font-size: 2rem;
    font-weight: bold;
}
.platform-site-1tx6twl {
    display: inline-block;
    position: relative;
}
.platform-site-8h05lb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.platform-site-iwimyv {
    font-size: 1.4rem;
    font-weight: normal;
    color: #1a1a1a;
}
.platform-site-uzydub {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.4rem;
    font-weight: normal;
    color: #616161;
}
.platform-site-113wtrw>div {
    padding: 8px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.platform-site-iwimyv {
    font-size: 1.4rem;
    font-weight: normal;
    color: #1a1a1a;
}
.platform-site-uzydub {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.4rem;
    font-weight: normal;
    color: #616161;
}
.platform-site-113wtrw>div {
    padding: 8px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.platform-site-1rycj53 {
    border-bottom: 2px dashed #e6e6e6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.platform-site-d3kn9q {
    padding: 0 20px 12px;
    margin-top: 8px;
    padding-bottom: 20px;
}
.platform-site-10fxb0u {
    height: 1.9rem;
    overflow-y: hidden;
    font-size: 1.6rem;
    font-weight: bold;
    color: #1a1a1a;
}
.platform-site-fl33rf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 2rem;
    height: 4.8rem;
    line-height: normal;
}
.platform-site-hvtrc9 {
    padding-top: 0.4rem;
    padding-bottom: 0;
    background-color: #ffffff;
}
.platform-site-1mos6om {
    color: #1a1a1a;
    background-color: #ffffff;
    font-size: 16px;
    margin: 12px auto 0;
    max-width: 768px;
}
svg {
    overflow: hidden;
}
.platform-site-1txq9pd {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
}
.platform-site-3zsvls {
    margin-top: 0.4rem;
    display: grid;
    grid-auto-flow: column;
    gap: 0.2rem;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    -webkit-justify-content: right;
    justify-content: right;
    color: #dc0328;
    cursor: text;
}
.platform-site-ayouty .price-wrapper .price {
    color: #1a1a1a;
    margin-left: 4px;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.4rem;
    font-weight: bold;
}
.platform-site-ayouty .price-wrapper {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #616161;
    text-align: right;
    line-height: 1.7rem;
}
.platform-site-127ge7m {
    -webkit-flex: 0 0 10rem;
    -ms-flex: 0 0 10rem;
    flex: 0 0 10rem;
    margin-left: 28px;
}
.platform-site-11rw7cs .bar {
    margin: 0 6px;
    color: #e6e6e6;
}
.platform-site-h4ztxd {
    color: #1a1a1a;
}
.platform-site-11rw7cs {
    margin-left: 8px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
}
.platform-site-1ivxgr5 .image-wrapper.fix-height {
    height: 72px;
}
.platform-site-1ivxgr5 .check-icon-wrapper {
    -webkit-flex: 0 0 20px;
    -ms-flex: 0 0 20px;
    flex: 0 0 26px;
    height: 20px;
}
.platform-site-1ivxgr5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    position: relative;
}
.platform-site-1ijvvwu .icon-wrapper svg path {
    fill: #919191;
}
.platform-site-1ijvvwu .icon-wrapper {
    margin-left: 1.5rem;
}
.platform-site-1av4cn5 {
    margin-bottom: 1.2rem;
    color: #1a1a1a;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
}
.platform-site-102cbkk:after {
    display: block;
    content: '';
    clear: both;
}
.platform-site-102cbkk {
    margin-top: -4px;
    margin-left: -4px;
    margin-bottom: 6px;
}
.platform-site-1ijvvwu .name-wrapper {
    width: 100%;
}
.platform-site-1ijvvwu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.platform-site-n15y1v:nth-of-type(2) {
    margin-top: 16px;
}
.platform-site-1nce4yq .bar {
    margin-left: 6px;
    margin-right: 6px;
}
.platform-site-1nce4yq {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5rem;
    color: #919191;
}
.platform-site-4ktkgz {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 0.2rem;
}
.platform-site-1e0k2gt {
    padding-top: 20px;
}
.platform-site-18r8gtt {
    margin-top: 12px;
    padding: 12px 20px 20px 20px;
    background-color: #ffffff;
    border-bottom: solid 1px #e6e6e6;
}
.platform-site-met2a8 {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}
.platform-site-1dihiv6 {
    background-color: #ffffff;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 2rem;
}
.platform-site-1ay92x6 {
    width: 100%;
    height: 5.3rem;
    background-image: url(https://yaimg.yanolja.com/v5/2023/08/31/16/64f0c4f7dce258.22791538.png);
    background-repeat: no-repeat;
    -webkit-background-position: center center;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    border-radius: 0.8rem;
}
.platform-site-1qywzum {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.16);
    border: solid 0.05rem rgba(0, 0, 0, 0.16);
    padding: 0.9rem 0;
}
.platform-site-1yufohb .wrapper {
    border-radius: 50%;
    background-color: #ffffff;
}
.platform-site-1yufohb {
    position: fixed;
    right: 2rem;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    cursor: pointer;
    bottom: 0;
    z-index: unset;
    padding: 0 0.2rem 0.4rem;
}
.platform-site-1yufohb {
    right: calc((100vw - 768px) / 2 + 20px);
}
.platform-site-1yufohb.close {
    opacity: 0;
    bottom: 0;
    -webkit-transition: all 0.2s cubic-bezier(1, 0, 1, 0.7);
    transition: all 0.2s cubic-bezier(1, 0, 1, 0.7);
}
.platform-site-15gwab6 {
    height: 19rem;
    width: 100%;
}
.platform-site-tmh7cp:before {
    position: absolute;
    left: -12px;
    content: '•';
}
.platform-site-tmh7cp {
    position: relative;
    margin-left: 12px;
    margin-top: 8px;
}
.platform-site-tmh7cp:nth-of-type(1) {
    margin-top: 0;
}
ol, ul {
    list-style: none;
}
.platform-site-jqnpyk {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #919191;
}
.platform-site-1ybnzat {
    width: 100%;
    max-width: 768px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px 20px 68px;
    border-bottom: solid 1px #e6e6e6;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}
.platform-site-1e8gv5c[type='button'], .platform-site-1e8gv5c[type='reset'], .platform-site-1e8gv5c[type='submit'] {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 6.4rem;
    min-height: 2.8rem;
    padding: 1rem 1.6rem 0.9rem;
    height: 3.6rem;
    border-radius: 0.4rem;
    background: #ffffff;
    border: solid 0.1rem #0152cc;
    color: #0152cc;
    font-size: 1.4rem;
    font-weight: normal;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.platform-site-1vyi3xe >div {
    width: 100%;
    text-align: center;
}
.platform-site-1vyi3xe .button-wrapper {
    padding-top: 16px;
    width: 16rem;
}
.platform-site-1vyi3xe .no-item-text {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #1a1a1a;
}
.platform-site-1vyi3xe >div {
    width: 100%;
    text-align: center;
}
.platform-site-1vyi3xe {
    font-size: 1.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    max-width: 768px;
    padding: 32px 0;
}
.platform-site-met2a8 {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}
.platform-site-pyu1h4 {
    font-size: 1.2rem;
}
.platform-site-1qwzcgf:after {
    content: ' ';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 0.4rem 0 rgb(0 0 0 / 30%);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.platform-site-1h71n8v {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    margin-right: 20px;
}
.platform-site-q1clrx {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.platform-site-1bjp9og.center {
    text-align: center;
}


a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

:focus {
    outline: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none
}

audio,canvas,video {
    display: inline-block;
    display: inline;
    zoom:1;max-width: 100%
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted
}

a:active,a:hover {
    outline: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

figure,form {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    margin-left: -7px
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    vertical-align: middle
}

button,input {
    line-height: normal
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible
}

button[disabled],html input[disabled] {
    cursor: default
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    height: 13px;
    width: 13px
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,html,input,select,textarea {
    color: #222
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

img {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

b,strong {
    font-weight: 700
}

a,a:focus,a:hover,a:visited {
    text-decoration: none;
    outline: none;
    color: inherit
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    margin: 0;
    padding: 0;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    font: inherit
}

input:disabled {
    -webkit-text-fill-color: inherit;
    opacity: 1
}

a[href],input,textarea {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

input.mobile:focus,select.mobile:focus,textarea.mobile:focus {
    font-size: 16px
}

input:disabled {
    background-color: inherit
}

svg {
    overflow: hidden
}

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
    input:disabled {
        background-color: transparent
    }
}

@font-face {
    font-family: swiper-icons;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
    font-weight: 400;
    font-style: normal
}

:root {
    --swiper-theme-color: #007aff
}

.swiper,swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,ease);
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box
}

.swiper-android .swiper-slide,.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-horizontal {
    touch-action: pan-y
}

.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide,swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight,.swiper-autoheight .swiper-slide {
    height: auto
}

.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform,height
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden
}

.swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px
}

.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-3d {
    perspective: 1200px
}

.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide,.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top {
    transform-style: preserve-3d
}

.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-3d .swiper-slide-shadow {
    background: rgba(0,0,0,.15)
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent)
}

.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg,rgba(0,0,0,.5),transparent)
}

.swiper-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory
}

.swiper-vertical.swiper-css-mode>.swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory
}

.swiper-centered>.swiper-wrapper:before {
    content: "";
    flex-shrink: 0;
    order: 9999
}

.swiper-centered>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: center center;
    scroll-snap-stop:always}

.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-start: var(--swiper-centered-offset-before);
    margin-inline-start:var(--swiper-centered-offset-before)}

/*.swiper-centered.swiper-horizontal>.swiper-wrapper: before {
    height:100%;
    min-height: 1px;
    width: var(--swiper-centered-offset-after)
}

.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-before: var(--swiper-centered-offset-before);
    margin-block-start:var(--swiper-centered-offset-before)}

.swiper-centered.swiper-vertical>.swiper-wrapper: before {
    width:100%;
    min-width: 1px;
    height: var(--swiper-centered-offset-after)
}
*/
.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 4px solid var(--swiper-preloader-color,var(--swiper-theme-color));
    border-top: 4px solid transparent
}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader {
    animation: swiper-preloader-spin 1s linear infinite
}

.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: opacity .3s;
    transform: translateZ(0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-pagination-disabled>.swiper-pagination,.swiper-pagination.swiper-pagination-disabled {
    display: none!important
}

.swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,8px);
    top: var(--swiper-pagination-top,auto);
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(.33);
    position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(.33)
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius,50%);
    background: var(--swiper-pagination-bullet-inactive-color,#000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity,.2)
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet:only-child {
    display: none!important
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity,1);
    background: var(--swiper-pagination-color,var(--swiper-theme-color))
}

.swiper-pagination-vertical.swiper-pagination-bullets,.swiper-vertical>.swiper-pagination-bullets {
    right: var(--swiper-pagination-right,8px);
    left: var(--swiper-pagination-left,auto);
    top: 50%;
    transform: translate3d(0,-50%,0)
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap,6px) 0;
    display: block
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: transform .2s,top .2s
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px)
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform .2s,left .2s
}

.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,:host(.swiper-horizontal.swiper-rtl) .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform .2s,right .2s
}

.swiper-pagination-fraction {
    color: var(--swiper-pagination-fraction-color,inherit)
}

.swiper-pagination-progressbar {
    background: var(--swiper-pagination-progressbar-bg-color,rgba(0,0,0,.25));
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top
}

.swiper-horizontal>.swiper-pagination-progressbar,.swiper-pagination-progressbar.swiper-pagination-horizontal,.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: var(--swiper-pagination-progressbar-size,4px);
    left: 0;
    top: 0
}

.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,.swiper-pagination-progressbar.swiper-pagination-vertical,.swiper-vertical>.swiper-pagination-progressbar {
    width: var(--swiper-pagination-progressbar-size,4px);
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-lock {
    display: none
}

:root {
    --swiper-navigation-size: 44px
}

.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: calc(var(--swiper-navigation-size)/ 44  27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color))
}

.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-next.swiper-button-hidden,.swiper-button-prev.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none
}

.swiper-navigation-disabled .swiper-button-next,.swiper-navigation-disabled .swiper-button-prev {
    display: none!important
}

.swiper-button-next:after,.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: normal;
    line-height: 1
}

.swiper-button-prev,.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,10px);
    right: auto
}

.swiper-button-prev:after,.swiper-rtl .swiper-button-next:after {
    content: "prev"
}

.swiper-button-next,.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,10px);
    left: auto
}

.swiper-button-next:after,.swiper-rtl .swiper-button-prev:after {
    content: "next"
}

.swiper-button-lock {
    display: none
}
* {
    box-sizing: border-box!important;
}
.platform-site-uqnpib {
    position: absolute;
    left: 0;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.8rem;
    margin-left: 2rem;
    cursor: pointer;
}
.platform-site-1am8kzc {
    position: relative;
    width: 100%;
    height: 4.8rem;
    line-height: 2.7rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #1a1a1a;
    padding: 1rem 5.4rem 1.2rem 5.4rem;
    max-width: 768px;
    margin: 0 auto;
}
.platform-site-1ago99h {
    width: 100%;
}
.platform-site-cgyt82 {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: solid 0.1rem #e6e6e6;
    background: #ffffff;
    width: 100%;
    z-index: 20;
}
.platform-site-cgyt82.borderless {
    border-bottom: none;
}
.platform-site-1qwzcgf {
    position: fixed;
    height: 48px;
    width: 100%;
    z-index: 2;
}
.platform-site-1r33zt9 {
    width: 100%;
    height: 4.8rem;
    position: relative;
}
.platform-site-p8s9ao {
    height: 100vh;
}
html {
    font-size: 62.5%;
    font-family: Apple SD Gothic Neo,Helvetica Neue,RobotoRegular,Helvetica,Droid Sans,Arial,"sans-serif"
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2
}

body,html {
    line-height: 1.33;
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none
}

body ::-webkit-scrollbar,html ::-webkit-scrollbar {
    display: none
}

html,html:-ms-fullscreen {
    font-size: 10px
}

#__next {
    height: 100%
}

#__next,#__next:-ms-fullscreen {
    overflow: inherit
}

/* {
    box-sizing: border-box!important
}
*/
input::-ms-clear {
    display: none;
    height: 0;
    width: 0
}

body.prevent-scroll {
    overflow: hidden
}

