@charset "UTF-8";
.SunnyLayout_container__3PLag {
    max-width: 76.8rem;
    margin: 0 auto
}

.SunnyLayout_bodyContainer__1wWjV,.SunnyLayout_headerContainer__3E-yF {
    width: 100%
}

.SunnyLayout_bodyContainer__1wWjV {
    min-height: 100%;
    overflow-x: hidden
}



.SunnyLayout_smartBanner__oDN4E {
    width: 100%;
    max-width: 76.8rem;
    margin: 0 auto;
    height: 8.7rem
}

@media screen and (min-width: 48em) {
    .SunnyLayout_smartBanner__oDN4E {
        display:none
    }
}

.BaseButton_button__tzyL8 {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none
}

.BaseButton_pseudo__2cnN7 {
    color: inherit;
    text-decoration: none;
    display: inline-block
}

.Popup_overlay__3qyL2 {
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.Popup_overlayAfterOpen__3JzbW {
    background: rgba(0,0,0,.5);
    transition: all .1s ease-out
}

.Popup_overlayBeforeClose__11OjB {
    background: transparent;
    transition: all .1s ease-in
}

.Popup_container__3EkkX {
    width: 29.6rem;
    background: #fff;
    border-radius: 1.2rem;
    margin: auto;
    padding: 3.2rem 0 .8rem;
    opacity: 0;
    text-align: center;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(.8) translate(-50%,-50%);
    transform: scale(.8) translate(-50%,-50%)
}

.Popup_containerAfterOpen__2bzfE {
    -webkit-transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%);
    opacity: 1;
    transition: all .1s ease-out
}

.Popup_containerBeforeClose__2FISq {
    -webkit-transform: scale(.9) translate(-50%,-50%);
    transform: scale(.9) translate(-50%,-50%);
    opacity: 0;
    transition: all .1s ease-in
}

.Popup_textWrap__3Olv2 {
    padding: 0 2rem;
    white-space: pre-wrap
}

.Popup_title__3vqMu {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9rem
}

.Popup_description__1ujj9 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #919191;
    line-height: 1.7rem
}

.Popup_title__3vqMu+.Popup_description__1ujj9 {
    padding-top: 1.2rem
}

.Popup_buttonsContainer__1fcay {
    display: -webkit-flex;
    display: flex;
    padding: 0 1.6rem
}

.Popup_buttonWrap__TDMP6 {
    margin: 0 auto;
    max-width: 100%;
    min-width: calc(50% - .4rem)
}

.Popup_buttonWrap__TDMP6+.Popup_buttonWrap__TDMP6 {
    margin-left: .8rem
}

.Popup_mainBtn__3Cijg,.Popup_subBtn__2ZAOD {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 1.1rem .2rem 1rem;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 8rem;
    line-height: 1.9rem;
    text-align: center
}

.Popup_subBtn__2ZAOD {
    font-size: 1.6rem;
    font-weight: 400;
    color: #1a1a1a
}

.Popup_subBtn__2ZAOD:hover {
    background: rgba(0,0,0,.05);
    border-radius: .6rem
}

.Popup_subBtn__2ZAOD:active {
    background: rgba(0,0,0,.1);
    border-radius: .6rem
}

.Popup_mainBtn__3Cijg {
    font-size: 1.6rem;
    font-weight: 700;
    color: #0152cc
}

.Popup_mainBtn__3Cijg:hover {
    background: rgba(1,82,204,.05);
    border-radius: .6rem
}

.Popup_mainBtn__3Cijg:active {
    background: rgba(1,82,204,.1);
    border-radius: .6rem
}

.Popup_textWrap__3Olv2+.Popup_buttonsContainer__1fcay {
    margin-top: 2rem
}

.PrimaryBanner_container__2EAFa {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    background: #fdf4f7!important
}

.PrimaryBanner_height__1ZesE {
    width: 0;
    height: 4rem
}

.NaverHotelBanner_banner__2EvJ-,.NaverHotelBanner_event__3_n42 {
    display: block;
    width: 100%;
    height: 4rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

@media screen and (min-width: 22.5em) {
    .NaverHotelBanner_banner__2EvJ-,.NaverHotelBanner_event__3_n42 {
        background-size:contain
    }
}

.NaverHotelBanner_banner__2EvJ- {
    background-image: url(//yaimg.yanolja.com/joy/sunny/static/images/promotion/bnr-naver-hotel-40-v2.png)
}

.NaverHotelBanner_event__3_n42 {
    background-image: url(//yaimg.yanolja.com/joy/sunny/static/images/promotion/bnr-naver-hotel-event-v2.png)
}

.ToastItem_item__20fWW {
    opacity: 0;
    text-align: center;
    transition: all .25s cubic-bezier(.4,0,.2,1);
    -webkit-transform: translate3d(0,1rem,0);
    transform: translate3d(0,1rem,0)
}

.ToastItem_item__20fWW+.ToastItem_item__20fWW {
    margin-top: .8rem
}

.ToastItem_itemMounted__3H5Ym {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.ToastItem_wrapper__2155S {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    background: rgba(0,0,0,.7);
    font-size: 1.5rem;
    line-height: 1.13;
    padding: 1.3rem 3.5rem;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: .8rem
}

.Toast_container__1yVJ5 {
    margin: 0 auto;
    position: fixed;
    right: 5rem;
    bottom: 8rem;
    left: 5rem;
    z-index: 100
}

.Icon_icon__2BP_o {
    width: 1em;
    height: 1em;
    display: inline-block
}

.Icon_icon__2BP_o>svg {
    display: block;
    fill: currentColor;
    fill-rule: evenodd
}

.Icon_storybook__3h1ST {
    width: 4rem;
    height: 4rem
}

.Body_menuContainer__2823n {
    background: #fff;
    min-height: calc(100vh - 4.8rem)
}

.Body_menuItem__2EfA7 {
    font-size: 1.5rem;
    font-weight: 700;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    height: 6rem;
    padding: 0 1.5rem 0 2rem;
    background: #fff;
    border-bottom: .1rem solid #e6e6e6
}

.Body_menuItem__2EfA7b {
    font-size: 1.5rem;
    font-weight: 700;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    height: 6rem;
    padding: 0 1.5rem 0 2rem;
    background: #fff;
    border-bottom: .1rem solid #e6e6e6
}

.NavigationBarHeading_container__8vDzj {
    width: 100%;
    text-align: center
}

.NavigationBarHeading_containerAndroid__3xNFl {
    overflow: hidden
}

.NavigationBarHeading_left__1NJRd {
    text-align: left
}

.NavigationBarHeading_title__hHbul {
    font-size: 1.8rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.NavigationBarHeading_titleWithSub__3z2Pr {
    font-size: 1.4rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.NavigationBarHeading_subs__iJcKJ {
    font-size: 1.2rem;
    font-weight: 400;
    color: #616161;
    display: inline-block;
    margin-top: .2rem;
    width: 100%
}

.NavigationBarHeading_sub__3Ngwo {
    position: relative
}

.NavigationBarHeading_sub__3Ngwo+.NavigationBarHeading_sub__3Ngwo {
    margin-left: .4rem;
    padding-left: .5rem
}

.NavigationBarHeading_sub__3Ngwo+.NavigationBarHeading_sub__3Ngwo:before {
    content: "";
    width: .1rem;
    height: 66.67%;
    background: #e6e6e6;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0
}

.NavigationBarIconButton_button__2UbJV {
    height: 4rem;
    border: none;
    background: none;
    color: inherit;
    display: block;
    font-size: 2.4rem;
    padding: .8rem;
    position: relative
}

.NavigationBarIconButton_button__2UbJV+.NavigationBarIconButton_button__2UbJV {
    margin-left: .4rem
}

.NavigationBarIconButton_count__2WvDa {
    position: absolute;
    top: .3rem;
    right: .3rem;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
    background-color: #de2e5f;
    border-radius: 45%;
    text-align: center;
    color: #fff
}

.NavigationBar_container__1EfAG {
    width: 100%;
    height: 4.8rem;
    background: #fff
}

.NavigationBar_wrap__1Jht4 {
    max-width: 76.8rem;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding: .4rem 1.2rem
}

.NavigationBar_leftWrap__1davh,.NavigationBar_rightWrap__2Fhtd {
    display: -webkit-flex;
    display: flex;
    margin: auto 0
}

.NavigationBar_leftWrap__1davh {
    -webkit-flex: 0 0 4rem;
    flex: 0 0 4rem
}

.NavigationBar_rightWrap__2Fhtd {
    -webkit-flex: 0 0 4.4rem;
    flex: 0 0 4.4rem;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.NavigationBar_leftWrapAndroid__2u_zh,.NavigationBar_rightWrapAndroid__3vf-z {
    display: -webkit-flex;
    display: flex
}

.NavigationBar_rightWrapAndroid__3vf-z {
    margin-left: auto
}

.NavigationBar_doubleWrap__1_n-x {
    -webkit-flex: 0 0 9.8rem;
    flex: 0 0 9.8rem
}

.NavigationBar_center__18CsD {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden
}

@media screen and (max-width: 20em) {
    .NavigationBar_center__18CsD {
        letter-spacing:-.08rem
    }
}

.NavigationBar_leftWrapAndroid__2u_zh+.NavigationBar_center__18CsD {
    padding-left: 0
}

.NavigationBar_center__18CsD+.NavigationBar_rightWrapAndroid__3vf-z {
    padding-left: 1.2rem
}

.NavigationBar_body__1c5zE {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: #fff
}

.NavigationBar_bottom__1hLEx,.NavigationBar_collapsedBottom__2YRU6,.NavigationBar_shadow__1IyZc {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff;
    z-index: -1
}

.NavigationBar_bottom__1hLEx:before,.NavigationBar_collapsedBottom__2YRU6:before,.NavigationBar_shadow__1IyZc:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: -.1rem;
    z-index: -1;
    border-bottom: .1rem solid #e6e6e6
}

.NavigationBar_shadow__1IyZc:before {
    box-shadow: 0 0 .4rem 0 rgba(0,0,0,.3);
    border-bottom: none;
    bottom: 0
}

.NavigationBar_collapsedBottom__2YRU6 {
    bottom: -.1rem
}

.DeepLinkBanner_container__3oHeE {
    width: 100%;
    position: relative;
    height: 8.7rem;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6
}

.DeepLinkBanner_image__2nMUl {
    position: absolute;
    top: 1.7rem;
    left: 1.5rem;
    display: inline-block;
    width: 21.1rem;
    height: 5.4rem
}

@media screen and (max-width: 22.5em) {
    .DeepLinkBanner_image__2nMUl {
        width:17rem
    }
}

.DeepLinkBanner_action__2Y1Lt {
    position: absolute;
    top: 3rem;
    right: 2.5rem;
    padding: .5rem .7rem;
    text-align: center;
    border: 1px solid #de2e5f;
    border-radius: .4rem;
    background: none
}

.DeepLinkBanner_action__2Y1Lt>span {
    vertical-align: middle;
    color: #de2e5f;
    font-size: 1.5rem;
    font-weight: 500
}

.DeepLinkBanner_action__2Y1Lt>i {
    margin-left: .5rem;
    display: inline-block;
    vertical-align: middle;
    width: .6rem;
    height: 1rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/promotion/bnr-smart-banner-arrow.svg) no-repeat
}

.SmartBanner_container__3Zp0y {
    width: 100%;
    position: relative;
    height: 8.7rem;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    z-index: 30
}

@media screen and (min-width: 48em) {
    .SmartBanner_container__3Zp0y {
        display:none
    }
}

.SmartBanner_close__1j2sZ {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 0;
    right: 0;
    border: none;
    background: none;
    padding: 1rem;
    z-index: 10
}

.SmartBanner_close__1j2sZ>i {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/promotion/bnr-smart-banner-close.svg) no-repeat
}

.SunnyNav_container__18unQ {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: -webkit-transform .25s cubic-bezier(.75,.25,.25,.75);
    transition: transform .25s cubic-bezier(.75,.25,.25,.75);
    transition: transform .25s cubic-bezier(.75,.25,.25,.75),-webkit-transform .25s cubic-bezier(.75,.25,.25,.75);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 30
}

.SunnyNav_withPrimaryBanner__3GAAo {
    top: 4rem
}

@media screen and (max-width: 48em) {
    .SunnyNav_collapsed__sz1zD {
        -webkit-transform:translateY(-8.7rem);
        transform: translateY(-8.7rem)
    }
}

/*# sourceMappingURL=67119248456e466bc89c.css.map*/
