@charset "UTF-8";
.ReasonRadio_container__1yCzr {
    color: #616161;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding-top: 1rem;
    position: relative
}

.ReasonRadio_input__g3bio {
    display: none
}

.ReasonRadio_input__g3bio+i {
    width: 2rem;
    height: 2rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/radiobutton-unselected-h-20.svg) no-repeat;
    cursor: pointer;
    display: inline-block;
    margin-right: .8rem;
    vertical-align: middle
}

.ReasonRadio_input__g3bio:checked+i {
    background-image: url(//yaimg.yanolja.com/joy/sunny/static/images/radiobutton-selected-h-20.svg)
}

.MemberWithdraw_container__3obVk {
    background: #fff;
    padding: 4rem 1rem 2rem;
    max-width: 76.8rem;
    margin: 0 auto
}

.MemberWithdraw_contents__32Gmt {
    padding: 0 1rem
}

.MemberWithdraw_infoHeading__2h4r2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #1a1a1a;
    margin: 0;
    padding-bottom: 1rem;
    line-height: 2.2rem
}

.MemberWithdraw_infoBody__KSHcM,.MemberWithdraw_infoBodyLast__jvunB {
    font-size: 1.4rem;
    color: #616161;
    padding-bottom: 4rem;
    font-weight: 400;
    line-height: 2.2rem
}

.MemberWithdraw_infoBody__KSHcM>strong,.MemberWithdraw_infoBodyLast__jvunB>strong {
    font-weight: 400;
    color: #de2e5f
}

.MemberWithdraw_infoBodyLast__jvunB {
    margin-top: -.5rem;
    padding-bottom: 0
}

.MemberWithdraw_coinInfo__2lO2x,.MemberWithdraw_pointInfo__18g9x {
    width: 100%;
    background: #f2f2f2;
    border-radius: .8rem;
    padding: 1.8rem 1.6rem 1.8rem 1.8rem;
    margin-bottom: 1.2rem
}

.MemberWithdraw_coinInfo__2lO2x>i,.MemberWithdraw_pointInfo__18g9x>i {
    width: 2.4rem;
    height: 2.4rem;
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/my/ic-my-point-18.svg) 50% no-repeat;
    display: inline-block;
    vertical-align: middle
}

.MemberWithdraw_infoTitle__3NcmO {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    padding-left: .7rem;
    vertical-align: middle
}

.MemberWithdraw_coinInfo__2lO2x {
    margin-bottom: 4rem
}

.MemberWithdraw_coinInfo__2lO2x>i {
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/my/ic-my-ycoin-18.svg) 50% no-repeat
}

.MemberWithdraw_pointAmount__25mZ3 {
    width: calc(100% - 10.1rem);
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: .7rem;
    text-align: right;
    vertical-align: middle
}

.MemberWithdraw_etcReasonInput__2iUNq {
    width: calc(100% - 2.8rem);
    border: .1rem solid #d9d9d9;
    display: block;
    margin-top: 1.5rem;
    margin-left: 2.8rem;
    padding: 1.5rem;
    resize: vertical
}

.MemberWithdraw_etcReasonInput__2iUNq:disabled {
    background: #f2f2f2
}

.MemberWithdraw_reasonHR__M0GaO {
    color: #f2f2f2;
    border: 0;
    border-bottom: .1rem solid;
    margin: 3rem 0
}

.MemberWithdraw_agreeLabel__jxlA6 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #616161;
    padding-left: .8rem;
    cursor: pointer
}

.MemberWithdraw_submit__28-gI {
    width: 100%;
    height: 6rem;
    border: none;
    border-radius: .8rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    background: #de2e5f;
    margin-top: 2rem
}

.MemberWithdraw_submit__28-gI:disabled {
    background: #ccc
}

.MemberWithdraw_submit__28-gI:active:enabled,.MemberWithdraw_submit__28-gI:hover:enabled {
    background: #cc2960
}

.MemberWithdraw_coinWarning__2Qman {
    color: #dc0328;
    font-size: 1.1rem;
    margin: .8rem 0 0 3.1rem
}

@media screen and (max-width: 23.4375em) {
    .MemberWithdraw_coinWarning__2Qman {
        max-width:20rem
    }
}

.MemberWithdrawAuth_container__1HEkS {
    min-height: calc(100vh - 8.8rem);
    overflow: hidden;
    background: #fff;
    max-width: 76.8rem;
    margin: 0 auto
}

.MemberWithdrawAuth_wrap__3T3te {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 300;
    padding: 4rem 2rem .5rem
}

.MemberWithdrawAuth_confirmMessage__11JzB {
    color: #de2e5f;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 300;
    padding: 0 2rem 5rem
}

/*# sourceMappingURL=fb05ae01f81aa5f10d8c.css.map*/
