@charset "UTF-8";
.TextButton_arrow__1AB9J {
    width: .857em;
    height: .857em;
    fill: currentColor;
    fill-rule: evenodd;
    margin-left: .2rem;
    vertical-align: top
}

.TextButton_basic__120EN,.TextButton_primary__3C6IB,.TextButton_secondary__A_sir,.TextButton_transparent__3NZtY {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: .8rem 0;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.TextButton_primary__3C6IB,.TextButton_secondary__A_sir {
    color: #0152cc
}

.TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):focus,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):focus {
    background: rgba(1,82,204,.05)
}

@media(hover: hover) {
    .TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):hover,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):hover {
        background:rgba(1,82,204,.05)
    }
}

.TextButton_primary__3C6IB:not(.TextButton_disabled__1eO2D):active,.TextButton_secondary__A_sir:not(.TextButton_disabled__1eO2D):active {
    background: rgba(1,82,204,.1)
}

.TextButton_secondary__A_sir .TextButton_arrow__1AB9J {
    display: none
}

.TextButton_basic__120EN {
    color: #1a1a1a
}

.TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):focus {
    background: rgba(0,0,0,.05)
}

@media(hover: hover) {
    .TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):hover {
        background:rgba(0,0,0,.05)
    }
}

.TextButton_basic__120EN:not(.TextButton_disabled__1eO2D):active {
    background: rgba(0,0,0,.1)
}

.TextButton_transparent__3NZtY {
    color: #fff
}

.TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):focus {
    background: hsla(0,0%,100%,.1)
}

@media(hover: hover) {
    .TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):hover {
        background:hsla(0,0%,100%,.1)
    }
}

.TextButton_transparent__3NZtY:not(.TextButton_disabled__1eO2D):active {
    background: hsla(0,0%,100%,.2)
}

.TextButton_disabled__1eO2D {
    background: none;
    color: #ccc;
    cursor: default
}

.TextButton_disabled__1eO2D.TextButton_transparent__3NZtY {
    color: #919191
}

.TextButton_storybook__2j5rP {
    font-size: 1.4rem;
    font-weight: 400
}

.EmailBody_container__98nDk {
    padding: 1rem 2rem 0;
    background: #fff;
    height: calc(100vh - 4.8rem)
}

@media screen and (min-width: 48em) {
    .EmailBody_container__98nDk {
        padding-top:5rem
    }
}

.EmailBody_clearUsername__1hJlo {
    opacity: .4
}

.EmailBody_largeButton__1D7al {
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    margin-top: 1.6rem;
    padding: 1.3rem 0
}

.EmailBody_bottomContainer__3X7lW {
    text-align: center
}

.EmailBody_textButton__3-QLE {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1.6rem
}

.EmailBody_banner__2p6HV {
    color: inherit;
    text-decoration: none;
    margin-right: -2rem;
    margin-left: -2rem;
    height: 6rem;
    background: 50% no-repeat;
    background-size: 76.8rem 6rem;
    display: block;
    margin-top: 2rem
}

@media screen and (max-width: 15.625em) {
    .EmailBody_banner__2p6HV {
        margin-right:-1.5rem;
        margin-left: -1.5rem
    }
}

.EmailBody_bar__1rM8B {
    width: .1rem;
    height: 1.6rem;
    margin: 0 1.5rem;
    background: #ccc;
    display: inline-block;
    vertical-align: middle
}

.EmailBody_emailFiled__-UwAQ {
    margin-bottom: .8rem
}

/*# sourceMappingURL=12cc3843a96ece4a57b0.css.map*/
